# Reforma del fichero de equivalencia de secciones

Este cuaderno simplemente corrige el hecho de que el código de las CCAA utilizado por el INE y el Ministerio del Interior no coincide. Ello causó que tengamos que cambiar los códigos de las secciones que definimos en el cuaderno original de su equivalencia en las distintas elecciones.

Afortunadamente, podemos corregir esta circunstacia mediante métodos de strings, sin que haya que utilizar de nuevo Geopandas.

No nos detendremos en demasía en este cuaderno, simplemente lo que hace es un mapeo con los códigos de las CCAA correctos, definiendo unas nuevas columnas, y guardando de nuevo el dataset con otro nombre.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
equiv_secciones = pd.read_csv('similitud_secciones_def.csv', dtype = 'str')

In [ ]:
equiv_secciones

                      cod_sec  ...            cercana N19
0       022019041160100901001  ...  022019111160100901001
1       022019041160101001002  ...  022019111160101001002
2       022019041160103101001  ...  022019111160103101001
3       022019041160103301001  ...  022019111160103301001
4       022019041160103701001  ...  022019111160103701001
...                       ...  ...                    ...
181034  022011111195200108010  ...  022019111195200108010
181035  022011111195200108011  ...  022019111195200108011
181036  022011111195200108012  ...  022019111195200108012
181037  022011111195200108013  ...  022019111195200108013
181038  022011111195200108014  ...  022019111195200108014

[181039 rows x 10 columns]

In [ ]:
map_ccaa = {'01' : '01',
            '02' : '02',
            '03' : '03',
            '04' : '04',
            '05' : '05',
            '06' : '06',
            '07' : '08',
            '08' : '07',
            '09' : '09',
            '10' : '17',
            '11' : '10',
            '12' : '11',
            '13' : '12',
            '14' : '15',
            '15' : '13',
            '16' : '14',
            '17' : '16',
            '18' : '18',
            '19' : '19'  }

In [ ]:
type(map_ccaa)

dict

In [ ]:
equiv_secciones['cod_ccaa_orig'] = equiv_secciones['cod_sec'].str[9:11]

In [ ]:
equiv_secciones

                      cod_sec       CUSEC  ...            cercana N19 cod_ccaa_orig
0       022019041160100901001  0100901001  ...  022019111160100901001            16
1       022019041160101001002  0101001002  ...  022019111160101001002            16
2       022019041160103101001  0103101001  ...  022019111160103101001            16
3       022019041160103301001  0103301001  ...  022019111160103301001            16
4       022019041160103701001  0103701001  ...  022019111160103701001            16
...                       ...         ...  ...                    ...           ...
181034  022011111195200108010  5200108010  ...  022019111195200108010            19
181035  022011111195200108011  5200108011  ...  022019111195200108011            19
181036  022011111195200108012  5200108012  ...  022019111195200108012            19
181037  022011111195200108013  5200108013  ...  022019111195200108013            19
181038  022011111195200108014  5200108014  ...  022019111195200108014            19

[181039 rows x 11 columns]

In [ ]:
equiv_secciones['cod_ccaa_orig'].value_counts()/5

01    5922.2
09    5051.4
13    4357.4
07    3546.6
10    3473.0
12    2194.0
08    1948.6
16    1726.2
02    1449.4
05    1365.2
14    1226.8
11     966.2
03     863.4
04     652.0
15     561.2
06     466.6
17     339.6
18      54.6
19      43.4
Name: cod_ccaa_orig, dtype: float64

In [ ]:
equiv_secciones['cod_ccaa_ref'] = equiv_secciones['cod_ccaa_orig'].map(map_ccaa)

In [ ]:
equiv_secciones['cod_ccaa_ref'].value_counts()/5

01    5922.2
09    5051.4
12    4357.4
08    3546.6
17    3473.0
11    2194.0
07    1948.6
14    1726.2
02    1449.4
05    1365.2
15    1226.8
10     966.2
03     863.4
04     652.0
13     561.2
06     466.6
16     339.6
18      54.6
19      43.4
Name: cod_ccaa_ref, dtype: float64

In [ ]:
equiv_secciones['cercana N11_ref'] = ''

In [ ]:
equiv_secciones['cercana D15_ref'] = ''
equiv_secciones['cercana J16_ref'] = ''
equiv_secciones['cercana A19_ref'] = ''
equiv_secciones['cercana N19_ref'] = ''

In [ ]:
equiv_secciones['cercana N11_ref'] = equiv_secciones['cercana N11'].str[0:9] + equiv_secciones['cod_ccaa_ref'] + equiv_secciones['cercana N11'].str[11:]

In [ ]:
equiv_secciones

                      cod_sec       CUSEC  ... cercana A19_ref cercana N19_ref
0       022019041160100901001  0100901001  ...
1       022019041160101001002  0101001002  ...
2       022019041160103101001  0103101001  ...
3       022019041160103301001  0103301001  ...
4       022019041160103701001  0103701001  ...
...                       ...         ...  ...             ...             ...
181034  022011111195200108010  5200108010  ...
181035  022011111195200108011  5200108011  ...
181036  022011111195200108012  5200108012  ...
181037  022011111195200108013  5200108013  ...
181038  022011111195200108014  5200108014  ...

[181039 rows x 17 columns]

In [ ]:
02 201111 1 14 0100901001

In [ ]:
02 201111 1 16 0100901001

In [ ]:
equiv_secciones['cercana D15_ref'] = equiv_secciones['cercana D15'].str[0:9] + equiv_secciones['cod_ccaa_ref'] + equiv_secciones['cercana D15'].str[11:]

In [ ]:
equiv_secciones['cercana J16_ref'] = equiv_secciones['cercana J16'].str[0:9] + equiv_secciones['cod_ccaa_ref'] + equiv_secciones['cercana J16'].str[11:]

In [ ]:
equiv_secciones['cercana A19_ref'] = equiv_secciones['cercana A19'].str[0:9] + equiv_secciones['cod_ccaa_ref'] + equiv_secciones['cercana A19'].str[11:]

In [ ]:
equiv_secciones['cercana N19_ref'] = equiv_secciones['cercana N19'].str[0:9] + equiv_secciones['cod_ccaa_ref'] + equiv_secciones['cercana N19'].str[11:]

In [ ]:
equiv_secciones['cod_sec_ref'] = ''

In [ ]:
equiv_secciones['cod_sec_ref'] = equiv_secciones['cod_sec'].str[0:9] + equiv_secciones['cod_ccaa_ref'] + equiv_secciones['cod_sec'].str[11:]

In [ ]:
strings = {'Sección' : 'str', 'cod_ccaa' : 'str', 'cod_prov' : 'str', 'cod_mun' : 'str', 'cod_sec' : 'str'}

In [ ]:
df_eleccion_J16 = pd.read_csv('gen_J16_unif_cols_prov.txt', dtype = strings)

In [ ]:
secciones_J16 = equiv_secciones.loc[equiv_secciones['Elección'] == '02201606']

In [ ]:
secciones_J16

                      cod_sec  ...            cod_sec_ref
72634   022016061160100101001  ...  022016061140100101001
72635   022016061160100101002  ...  022016061140100101002
72636   022016061160100201001  ...  022016061140100201001
72637   022016061160100201002  ...  022016061140100201002
72638   022016061160100201003  ...  022016061140100201003
...                       ...  ...                    ...
108844  022016061195200108011  ...  022016061195200108011
108845  022016061195200108012  ...  022016061195200108012
108846  022016061195200108013  ...  022016061195200108013
108847  022016061195200108014  ...  022016061195200108014
108848  022016061195200108015  ...  022016061195200108015

[36215 rows x 18 columns]

In [ ]:
len(set(secciones_J16['cercana J16_ref'].unique()) - set(df_eleccion_J16['Sección'].unique()))

25

In [ ]:
df_eleccion_A19 = pd.read_csv('gen_A19_unif_cols_prov.txt', dtype = strings)

In [ ]:
secciones_A19 = equiv_secciones.loc[equiv_secciones['Elección'] == '02201904']

In [ ]:
len(set(secciones_A19['cercana A19_ref'].unique()) - set(df_eleccion_A19['Sección'].unique()))

0

In [ ]:
len(set(df_eleccion_A19['Sección'].unique()) - set(secciones_A19['cercana A19_ref'].unique()))

0

In [ ]:
equiv_secciones.columns

Index(['cod_sec', 'CUSEC', 'CUMUN', 'CPRO', 'Elección', 'cercana N11',
       'cercana D15', 'cercana J16', 'cercana A19', 'cercana N19',
       'cod_ccaa_orig', 'cod_ccaa_ref', 'cercana N11_ref', 'cercana D15_ref',
       'cercana J16_ref', 'cercana A19_ref', 'cercana N19_ref', 'cod_sec_ref'],
      dtype='object')

In [ ]:
similitud_secciones_def_REF = equiv_secciones[['cod_sec_ref', 'CUSEC', 'CUMUN', 'CPRO', 'Elección', 'cod_ccaa_orig', 'cod_ccaa_ref', 'cercana N11_ref', 'cercana D15_ref',
       'cercana J16_ref', 'cercana A19_ref', 'cercana N19_ref' ]]

In [ ]:
similitud_secciones_def_REF

                  cod_sec_ref  ...        cercana N19_ref
0       022019041140100901001  ...  022019111140100901001
1       022019041140101001002  ...  022019111140101001002
2       022019041140103101001  ...  022019111140103101001
3       022019041140103301001  ...  022019111140103301001
4       022019041140103701001  ...  022019111140103701001
...                       ...  ...                    ...
181034  022011111195200108010  ...  022019111195200108010
181035  022011111195200108011  ...  022019111195200108011
181036  022011111195200108012  ...  022019111195200108012
181037  022011111195200108013  ...  022019111195200108013
181038  022011111195200108014  ...  022019111195200108014

[181039 rows x 12 columns]

In [ ]:
similitud_secciones_def_REF.to_csv('similitud_secciones_def_REF.csv', index = False)