# Datos de afiliación a la SS y Paro

En este cuaderno formateamos los datos de afiliación a la Seguridad Social y el paro, obtenidos a partir de hojas de cálculo presentes en las web de la SS y del SEPE, respectivamente.

Pudimos haber separado estos datos uno en cada cuaderno, pero ya que su significado está muy relacionado, decidimos tratarlos conjuntamente. Por otro lado, tienen otro punto en común: se trata de datos distribuidos por municipios, no secciones electorales, que, de todas formas, pensamos que son útiles de todas formas.

En el caso de los datos de la Seguridad Social, decidimos aprovechar el formato de en el fichero excel y obtener los datos por provincias. 

Comenzamos con los datos de afiliación a la SS.

## Datos de afiliación a la Seguridad Social

Como es costumbre, comenzamos cargando las librerías necesarias y el fichero de afiliacion a la SS de noviembre de 2019, correspondiente a las elecciones generales celebradas ese mismo mes.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import boto3

BUCKET_NAME = 'electomedia' 

# sustituir por credenciales de acceso. 
s3 = boto3.resource('s3', aws_access_key_id = 'XXXXXXX', 
                          aws_secret_access_key= 'XXXXXXXX')

In [3]:
import botocore.exceptions

KEY = 'INE/AfiliadosMuni-11-2019.xlsx' 

try:
    s3.Bucket(BUCKET_NAME).download_file(KEY, 'AfiliadosMuni-11-2019.xlsx')

except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "404":
        print("The object does not exist.")
    else:
        raise

In [4]:
seg_sol = pd.read_excel('AfiliadosMuni-11-2019.xlsx', header = 1)

In [5]:
seg_sol.head()

,PROVINCIA,MUNICIPIO,TRAB,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,TOTAL
0,01 ARABA/ÁLAVA,01001 ALEGRIA-DULANTZI,TRAB.,495,<5,15,0,208,0,>718
1,01 ARABA/ÁLAVA,01002 AMURRIO,TRAB.,3455,10,95,0,626,0,4186
2,01 ARABA/ÁLAVA,01003 ARAMAIO,TRAB.,189,<5,<5,0,57,0,>246
3,01 ARABA/ÁLAVA,01004 ARTZINIEGA,TRAB.,257,<5,7,0,113,0,>377
4,01 ARABA/ÁLAVA,01006 ARMIÑON,TRAB.,132,0,0,0,20,0,152

Vemos que tenemos el problema que los datos vienen como tipo objeto, debido a las entradas '<5'.

Por simplicidad, lo sustituimos en todo el df por el número 2, que pensamos puede ser bastante aproximado a la realidad.

In [6]:
seg_sol.dtypes

PROVINCIA              object
MUNICIPIO              object
TRAB                   object
Reg. General(1)        object
R. G.- S.E.Agrario     object
R. G.- S.E.Hogar(2)    object
R. E. MAR              object
R. E. T. Autónomos     object
R. E. M. Carbón        object
TOTAL                  object
dtype: object

In [7]:
seg_sol.replace('<5', '2')

,PROVINCIA,MUNICIPIO,TRAB,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,TOTAL
0,01 ARABA/ÁLAVA,01001 ALEGRIA-DULANTZI,TRAB.,495,2,15,0,208,0,>718
1,01 ARABA/ÁLAVA,01002 AMURRIO,TRAB.,3455,10,95,0,626,0,4186
2,01 ARABA/ÁLAVA,01003 ARAMAIO,TRAB.,189,2,2,0,57,0,>246
3,01 ARABA/ÁLAVA,01004 ARTZINIEGA,TRAB.,257,2,7,0,113,0,>377
4,01 ARABA/ÁLAVA,01006 ARMIÑON,TRAB.,132,0,0,0,20,0,152
...,...,...,...,...,...,...,...,...,...,...
8225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8227,(*) SIN DISTRIBUCIÓN: Incluye Cuidadores no Pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8228,(1) Régimen General: No se incluyen datos de l...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8229,(2) Desde enero 2013 en el Sistema Especial de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Por otro lado nos encontramos con que pandas ha leido las celdas finales del fichero excel, que no nos interesan. Las suprimimos del df.

In [8]:
seg_sol[8190:8220]

,PROVINCIA,MUNICIPIO,TRAB,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,TOTAL
8190,50 ZARAGOZA,50284 VILLAFELICHE,TRAB.,<5,5,0,0,14,0,>19
8191,50 ZARAGOZA,50285 VILLAFRANCA DE EBRO,TRAB.,102,<5,5,0,63,0,>170
8192,50 ZARAGOZA,50286 VILLALBA DE PEREJIL,TRAB.,<5,0,0,0,<5,0,>0
8193,50 ZARAGOZA,50287 VILLALENGUA,TRAB.,25,<5,0,0,45,0,>70
8194,50 ZARAGOZA,50288 VILLANUEVA DE GALLEGO,TRAB.,5646,6,84,0,578,0,6314
8195,50 ZARAGOZA,50289 VILLANUEVA DE JILOCA,TRAB.,<5,0,0,0,0,0,>0
8196,50 ZARAGOZA,50290 VILLANUEVA DE HUERVA,TRAB.,37,9,<5,0,45,0,>91
8197,50 ZARAGOZA,50291 VILLAR DE LOS NAVARROS,TRAB.,<5,<5,0,0,10,0,>10
8198,50 ZARAGOZA,50292 VILLARREAL DE HUERVA,TRAB.,225,<5,<5,0,26,0,>251
8199,50 ZARAGOZA,50293 VILLARROYA DE LA SIERRA,TRAB.,24,<5,0,0,40,0,>64
8200,50 ZARAGOZA,50294 VILLARROYA DEL CAMPO,TRAB.,10,0,0,0,<5,0,>10
8201,50 ZARAGOZA,50296 ZAIDA (LA),TRAB.,233,0,<5,0,22,0,>255
8202,50 ZARAGOZA,50297 ZARAGOZA,TRAB.,249249,864,7637,0,39995,21,297766
8203,50 ZARAGOZA,50298 ZUERA,TRAB.,5017,21,44,0,550,0,5632
8204,50 ZARAGOZA,50901 BIEL-FUENCALDERAS,TRAB.,25,<5,0,0,11,0,>36
8205,50 ZARAGOZA,50902 MARRACOS,TRAB.,<5,0,0,0,7,0,>7
8206,50 ZARAGOZA,50903 VILLAMAYOR DE GALLEGO,TRAB.,458,32,16,0,217,0,723
8207,50 ZARAGOZA,PROVINCIAL,TRAB.,344550,5789,8853,0,66319,21,425532
8208,50 ZARAGOZA,SIN DISTRIBUCIÓN (*),TRAB.,968,743,15,0,2149,0,3875
8209,51 CEUTA,51001 CEUTA,TRAB.,16796,<5,2065,197,3342,0,>22.400
8210,51 CEUTA,PROVINCIAL,TRAB.,16887,<5,2066,197,3390,0,>22.540
8211,51 CEUTA,SIN DISTRIBUCIÓN (*),TRAB.,91,<5,<5,0,48,0,>139
8212,52 MELILLA,52001 MELILLA,TRAB.,17572,5,1692,102,4560,0,23931
8213,52 MELILLA,PROVINCIAL,TRAB.,17742,6,1692,102,4700,0,24242
8214,52 MELILLA,SIN DISTRIBUCIÓN (*),TRAB.,328,<5,0,0,274,0,>602
8215,NACIONAL,NaN,TRAB.,14932326,750531,396938,63854,3270358,1306,19415313
8216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
seg_sol = seg_sol[:8215].replace('<5', '2')

In [10]:
seg_sol

,PROVINCIA,MUNICIPIO,TRAB,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,TOTAL
0,01 ARABA/ÁLAVA,01001 ALEGRIA-DULANTZI,TRAB.,495,2,15,0,208,0,>718
1,01 ARABA/ÁLAVA,01002 AMURRIO,TRAB.,3455,10,95,0,626,0,4186
2,01 ARABA/ÁLAVA,01003 ARAMAIO,TRAB.,189,2,2,0,57,0,>246
3,01 ARABA/ÁLAVA,01004 ARTZINIEGA,TRAB.,257,2,7,0,113,0,>377
4,01 ARABA/ÁLAVA,01006 ARMIÑON,TRAB.,132,0,0,0,20,0,152
...,...,...,...,...,...,...,...,...,...,...
8210,51 CEUTA,PROVINCIAL,TRAB.,16887,2,2066,197,3390,0,>22.540
8211,51 CEUTA,SIN DISTRIBUCIÓN (*),TRAB.,91,2,2,0,48,0,>139
8212,52 MELILLA,52001 MELILLA,TRAB.,17572,5,1692,102,4560,0,23931
8213,52 MELILLA,PROVINCIAL,TRAB.,17742,6,1692,102,4700,0,24242
8214,52 MELILLA,SIN DISTRIBUCIÓN (*),TRAB.,328,2,0,0,274,0,>602

Ahora tenemos que transformar las columnas que son legítimamente numéricas al tipo entero, para lo que utilizamos el método .to_mumeric

In [11]:
seg_sol.columns

Index(['PROVINCIA', 'MUNICIPIO', 'TRAB', 'Reg. General(1)',
       'R. G.- S.E.Agrario', 'R. G.- S.E.Hogar(2)', 'R. E. MAR ',
       'R. E. T. Autónomos', 'R. E. M. Carbón', 'TOTAL'],
      dtype='object')

In [12]:
num = ['Reg. General(1)',
       'R. G.- S.E.Agrario', 'R. G.- S.E.Hogar(2)', 'R. E. MAR ',
       'R. E. T. Autónomos', 'R. E. M. Carbón']

In [13]:
seg_sol[num] = seg_sol[num].apply(pd.to_numeric, errors='coerce')

In [14]:
seg_sol.dtypes

PROVINCIA              object
MUNICIPIO              object
TRAB                   object
Reg. General(1)         int64
R. G.- S.E.Agrario      int64
R. G.- S.E.Hogar(2)     int64
R. E. MAR               int64
R. E. T. Autónomos      int64
R. E. M. Carbón         int64
TOTAL                  object
dtype: object

Creamos una columna con el total de afiliados, utilizando una comprehension.

In [15]:
seg_sol['Total_afiliados'] = sum(seg_sol[x] for x in num)

In [16]:
seg_sol

,PROVINCIA,MUNICIPIO,TRAB,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,TOTAL,Total_afiliados
0,01 ARABA/ÁLAVA,01001 ALEGRIA-DULANTZI,TRAB.,495,2,15,0,208,0,>718,720
1,01 ARABA/ÁLAVA,01002 AMURRIO,TRAB.,3455,10,95,0,626,0,4186,4186
2,01 ARABA/ÁLAVA,01003 ARAMAIO,TRAB.,189,2,2,0,57,0,>246,250
3,01 ARABA/ÁLAVA,01004 ARTZINIEGA,TRAB.,257,2,7,0,113,0,>377,379
4,01 ARABA/ÁLAVA,01006 ARMIÑON,TRAB.,132,0,0,0,20,0,152,152
...,...,...,...,...,...,...,...,...,...,...,...
8210,51 CEUTA,PROVINCIAL,TRAB.,16887,2,2066,197,3390,0,>22.540,22542
8211,51 CEUTA,SIN DISTRIBUCIÓN (*),TRAB.,91,2,2,0,48,0,>139,143
8212,52 MELILLA,52001 MELILLA,TRAB.,17572,5,1692,102,4560,0,23931,23931
8213,52 MELILLA,PROVINCIAL,TRAB.,17742,6,1692,102,4700,0,24242,24242
8214,52 MELILLA,SIN DISTRIBUCIÓN (*),TRAB.,328,2,0,0,274,0,>602,604

In [17]:
seg_sol.columns

Index(['PROVINCIA', 'MUNICIPIO', 'TRAB', 'Reg. General(1)',
       'R. G.- S.E.Agrario', 'R. G.- S.E.Hogar(2)', 'R. E. MAR ',
       'R. E. T. Autónomos', 'R. E. M. Carbón', 'TOTAL', 'Total_afiliados'],
      dtype='object')

In [18]:
seg_sol = seg_sol[['PROVINCIA', 'MUNICIPIO',  'Reg. General(1)',
       'R. G.- S.E.Agrario', 'R. G.- S.E.Hogar(2)', 'R. E. MAR ',
       'R. E. T. Autónomos', 'R. E. M. Carbón', 'Total_afiliados']]

Como hemos mencionado, aprovechamos la estructura del fichero excel para seleccionar por un lado los datos provinciales, que pueden sernos útiles más adelante. Lo hacemos seleccionando los registros que contengan la cadena 'PROVINCIAL'.

In [19]:
seg_sol_prov = seg_sol.loc[seg_sol['MUNICIPIO'] == 'PROVINCIAL']

In [20]:
seg_sol_prov

,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados
51,01 ARABA/ÁLAVA,PROVINCIAL,137351,706,2964,0,20482,0,161503
140,02 ALBACETE,PROVINCIAL,99059,9916,2342,0,29882,0,141199
283,03 ALICANTE/ALACANT,PROVINCIAL,505612,17252,9090,2572,132776,0,667302
388,04 ALMERIA,PROVINCIAL,184218,56661,2655,945,59498,0,303977
638,05 AVILA,PROVINCIAL,37070,1559,1063,0,14265,0,53957
805,06 BADAJOZ,PROVINCIAL,157765,39289,2647,0,49220,0,248921
874,07 ILLES BALEARS,PROVINCIAL,339249,2407,9972,1915,91248,0,444791
1187,08 BARCELONA,PROVINCIAL,2194000,4728,49704,3367,397477,0,2649276
1556,09 BURGOS,PROVINCIAL,117076,1144,2584,0,27531,0,148335
1781,10 CACERES,PROVINCIAL,91227,18880,1916,0,31313,0,143336
1828,11 CADIZ,PROVINCIAL,280307,26431,4046,4462,61219,0,376465
1965,12 CASTELLÓN/CASTELLÓ,PROVINCIAL,185133,11561,3807,1190,40908,0,242599
2069,13 CIUDAD REAL,PROVINCIAL,118780,10620,2979,0,35665,8,168052
2146,14 CORDOBA,PROVINCIAL,180988,64930,3593,0,52799,0,302310
2242,15 A CORUÑA,PROVINCIAL,335485,1955,11188,6228,85219,0,440075
2482,16 CUENCA,PROVINCIAL,51533,5659,1252,0,18830,0,77274
2705,17 GIRONA,PROVINCIAL,249486,3263,4899,1138,60208,0,318994
2875,18 GRANADA,PROVINCIAL,217833,50204,5352,185,64773,0,338347
3163,19 GUADALAJARA,PROVINCIAL,78361,629,1493,0,15069,0,95552
3253,20 GIPUZKOA,PROVINCIAL,250476,512,9806,691,66539,0,328024
3334,21 HUELVA,PROVINCIAL,116112,56352,1355,1854,27883,0,203556
3538,22 HUESCA,PROVINCIAL,70668,3658,1412,0,22101,0,97839
3637,23 JAEN,PROVINCIAL,133393,66273,2028,0,41369,0,243063
3850,24 LEON,PROVINCIAL,118404,1145,3198,0,36642,115,159504
4083,25 LLEIDA,PROVINCIAL,141359,6743,2210,0,38767,2,189081
4256,26 LA RIOJA,PROVINCIAL,98461,3486,2710,0,25726,0,130383
4325,27 LUGO,PROVINCIAL,82499,1686,3287,1539,33689,0,122700
4506,28 MADRID,PROVINCIAL,2786209,1914,104921,3883,407414,0,3304341
4611,29 MALAGA,PROVINCIAL,461397,31357,11524,1127,120117,0,625522
4658,30 MURCIA,PROVINCIAL,406301,73085,10975,1187,100292,0,591840
4932,31 NAVARRA,PROVINCIAL,231547,5144,7145,0,47206,0,291042
5026,32 OURENSE,PROVINCIAL,76607,322,3049,0,23605,0,103583
5106,33 ASTURIAS,PROVINCIAL,282946,1190,8308,1586,73144,1114,368288
5299,34 PALENCIA,PROVINCIAL,49938,900,904,0,13192,0,64934
5335,35 LAS PALMAS,PROVINCIAL,356617,6631,5599,3971,65169,0,437987
5399,36 PONTEVEDRA,PROVINCIAL,268385,1210,8435,13777,67012,0,358819
5763,37 SALAMANCA,PROVINCIAL,89989,1853,2646,0,26477,0,120965
5819,38 SANTA CRUZ DE TENERIFE,PROVINCIAL,311068,7498,4370,2520,63813,0,389269
5923,39 CANTABRIA,PROVINCIAL,170960,913,5104,1180,41384,0,219541
6134,40 SEGOVIA,PROVINCIAL,44295,2412,1284,0,14322,0,62313
6241,41 SEVILLA,PROVINCIAL,544551,87381,12772,387,111674,0,756765
6426,42 SORIA,PROVINCIAL,30076,695,740,0,7880,0,39391
6612,43 TARRAGONA,PROVINCIAL,242115,6948,3683,1892,53899,0,308537
6848,44 TERUEL,PROVINCIAL,40082,939,768,0,13241,47,55077
7054,45 TOLEDO,PROVINCIAL,173545,6475,3227,0,49763,0,233010
7323,46 VALENCIA/VALÈNCIA,PROVINCIAL,811236,35122,18292,3013,178520,0,1046183
7550,47 VALLADOLID,PROVINCIAL,177187,2837,4255,0,36079,0,220358
7663,48 BIZKAIA,PROVINCIAL,387401,918,15877,2946,83839,0,490981
7913,49 ZAMORA,PROVINCIAL,38790,1340,897,0,16809,0,57836
8207,50 ZARAGOZA,PROVINCIAL,344550,5789,8853,0,66319,21,425532
8210,51 CEUTA,PROVINCIAL,16887,2,2066,197,3390,0,22542
8213,52 MELILLA,PROVINCIAL,17742,6,1692,102,4700,0,24242

In [21]:
seg_sol_prov.shape

(52, 9)

Ahora seleccionamos los datos de los municipios como tales, quitando los provinciales, nacionales, y los que, extrañamente, no tienen distribución. Obtenemos unos 8.110 registros, que tiene pinta se ser correcto.

In [22]:
seg_sol_muni = seg_sol.loc[seg_sol['MUNICIPIO'] != 'PROVINCIAL']
seg_sol_muni = seg_sol_muni.loc[seg_sol_muni['MUNICIPIO'] != 'SIN DISTRIBUCIÓN (*)']
seg_sol_muni = seg_sol_muni.loc[seg_sol_muni['PROVINCIA'] != 'NACIONAL']

In [23]:
seg_sol_muni

,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados
0,01 ARABA/ÁLAVA,01001 ALEGRIA-DULANTZI,495,2,15,0,208,0,720
1,01 ARABA/ÁLAVA,01002 AMURRIO,3455,10,95,0,626,0,4186
2,01 ARABA/ÁLAVA,01003 ARAMAIO,189,2,2,0,57,0,250
3,01 ARABA/ÁLAVA,01004 ARTZINIEGA,257,2,7,0,113,0,379
4,01 ARABA/ÁLAVA,01006 ARMIÑON,132,0,0,0,20,0,152
...,...,...,...,...,...,...,...,...,...
8204,50 ZARAGOZA,50901 BIEL-FUENCALDERAS,25,2,0,0,11,0,38
8205,50 ZARAGOZA,50902 MARRACOS,2,0,0,0,7,0,9
8206,50 ZARAGOZA,50903 VILLAMAYOR DE GALLEGO,458,32,16,0,217,0,723
8209,51 CEUTA,51001 CEUTA,16796,2,2065,197,3342,0,22402
8212,52 MELILLA,52001 MELILLA,17572,5,1692,102,4560,0,23931

In [24]:
seg_sol_muni['MUNICIPIO'].value_counts()

33039 MUROS DE NALON              1
05200 SAN BARTOLOME DE CORNEJA    1
26143 SOJUELA                     1
32041 LOBEIRA                     1
44218 TORMON                      1
                                 ..
26074 HERVIAS                     1
19222 POBO DE DUEÑAS (EL)         1
44175 ORRIOS                      1
16135 MOYA                        1
26092 MANJARRES                   1
Name: MUNICIPIO, Length: 8111, dtype: int64

Añadimos dos columnas con los códigos de los municipios, que nos serán útiles para hacer la unificación de los datos, y el numbre del municipio. Estos datos los extraemos de la columna 'MUNICIPIO'.

In [25]:
seg_sol_muni['cod_mun'] = seg_sol_muni['MUNICIPIO'].str[0:5]

In [26]:
seg_sol_muni['Municipio'] = seg_sol_muni['MUNICIPIO'].str[6:]

In [27]:
seg_sol_muni

,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados,cod_mun,Municipio
0,01 ARABA/ÁLAVA,01001 ALEGRIA-DULANTZI,495,2,15,0,208,0,720,01001,ALEGRIA-DULANTZI
1,01 ARABA/ÁLAVA,01002 AMURRIO,3455,10,95,0,626,0,4186,01002,AMURRIO
2,01 ARABA/ÁLAVA,01003 ARAMAIO,189,2,2,0,57,0,250,01003,ARAMAIO
3,01 ARABA/ÁLAVA,01004 ARTZINIEGA,257,2,7,0,113,0,379,01004,ARTZINIEGA
4,01 ARABA/ÁLAVA,01006 ARMIÑON,132,0,0,0,20,0,152,01006,ARMIÑON
...,...,...,...,...,...,...,...,...,...,...,...
8204,50 ZARAGOZA,50901 BIEL-FUENCALDERAS,25,2,0,0,11,0,38,50901,BIEL-FUENCALDERAS
8205,50 ZARAGOZA,50902 MARRACOS,2,0,0,0,7,0,9,50902,MARRACOS
8206,50 ZARAGOZA,50903 VILLAMAYOR DE GALLEGO,458,32,16,0,217,0,723,50903,VILLAMAYOR DE GALLEGO
8209,51 CEUTA,51001 CEUTA,16796,2,2065,197,3342,0,22402,51001,CEUTA
8212,52 MELILLA,52001 MELILLA,17572,5,1692,102,4560,0,23931,52001,MELILLA

Calculamos una nueva columna, la de la proporción de autónomos entre los afiliados, que pensamos puede estar correlacionada con el voto en unas elecciones.

In [28]:
seg_sol_muni['prop_autonomos'] = seg_sol_muni['R. E. T. Autónomos'] / seg_sol_muni['Total_afiliados']

In [29]:
seg_sol_muni

,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados,cod_mun,Municipio,prop_autonomos
0,01 ARABA/ÁLAVA,01001 ALEGRIA-DULANTZI,495,2,15,0,208,0,720,01001,ALEGRIA-DULANTZI,0.288889
1,01 ARABA/ÁLAVA,01002 AMURRIO,3455,10,95,0,626,0,4186,01002,AMURRIO,0.149546
2,01 ARABA/ÁLAVA,01003 ARAMAIO,189,2,2,0,57,0,250,01003,ARAMAIO,0.228000
3,01 ARABA/ÁLAVA,01004 ARTZINIEGA,257,2,7,0,113,0,379,01004,ARTZINIEGA,0.298153
4,01 ARABA/ÁLAVA,01006 ARMIÑON,132,0,0,0,20,0,152,01006,ARMIÑON,0.131579
...,...,...,...,...,...,...,...,...,...,...,...,...
8204,50 ZARAGOZA,50901 BIEL-FUENCALDERAS,25,2,0,0,11,0,38,50901,BIEL-FUENCALDERAS,0.289474
8205,50 ZARAGOZA,50902 MARRACOS,2,0,0,0,7,0,9,50902,MARRACOS,0.777778
8206,50 ZARAGOZA,50903 VILLAMAYOR DE GALLEGO,458,32,16,0,217,0,723,50903,VILLAMAYOR DE GALLEGO,0.300138
8209,51 CEUTA,51001 CEUTA,16796,2,2065,197,3342,0,22402,51001,CEUTA,0.149183
8212,52 MELILLA,52001 MELILLA,17572,5,1692,102,4560,0,23931,52001,MELILLA,0.190548

In [30]:
seg_sol_muni.columns

Index(['PROVINCIA', 'MUNICIPIO', 'Reg. General(1)', 'R. G.- S.E.Agrario',
       'R. G.- S.E.Hogar(2)', 'R. E. MAR ', 'R. E. T. Autónomos',
       'R. E. M. Carbón', 'Total_afiliados', 'cod_mun', 'Municipio',
       'prop_autonomos'],
      dtype='object')

Finalmente nos quedamos con las columnas que nos interesan realmente: la afiliación total y la proporción de autónomos., a parte de la definición de los municipios en sí mismos.

In [31]:
seg_sol_muni = seg_sol_muni[['PROVINCIA', 'cod_mun', 'Municipio', 'Total_afiliados',
       'prop_autonomos']]

In [32]:
seg_sol_muni.reset_index(drop = True)

,PROVINCIA,cod_mun,Municipio,Total_afiliados,prop_autonomos
0,01 ARABA/ÁLAVA,01001,ALEGRIA-DULANTZI,720,0.288889
1,01 ARABA/ÁLAVA,01002,AMURRIO,4186,0.149546
2,01 ARABA/ÁLAVA,01003,ARAMAIO,250,0.228000
3,01 ARABA/ÁLAVA,01004,ARTZINIEGA,379,0.298153
4,01 ARABA/ÁLAVA,01006,ARMIÑON,152,0.131579
...,...,...,...,...,...
8106,50 ZARAGOZA,50901,BIEL-FUENCALDERAS,38,0.289474
8107,50 ZARAGOZA,50902,MARRACOS,9,0.777778
8108,50 ZARAGOZA,50903,VILLAMAYOR DE GALLEGO,723,0.300138
8109,51 CEUTA,51001,CEUTA,22402,0.149183
8110,52 MELILLA,52001,MELILLA,23931,0.190548

In [33]:
seg_sol_muni

,PROVINCIA,cod_mun,Municipio,Total_afiliados,prop_autonomos
0,01 ARABA/ÁLAVA,01001,ALEGRIA-DULANTZI,720,0.288889
1,01 ARABA/ÁLAVA,01002,AMURRIO,4186,0.149546
2,01 ARABA/ÁLAVA,01003,ARAMAIO,250,0.228000
3,01 ARABA/ÁLAVA,01004,ARTZINIEGA,379,0.298153
4,01 ARABA/ÁLAVA,01006,ARMIÑON,152,0.131579
...,...,...,...,...,...
8204,50 ZARAGOZA,50901,BIEL-FUENCALDERAS,38,0.289474
8205,50 ZARAGOZA,50902,MARRACOS,9,0.777778
8206,50 ZARAGOZA,50903,VILLAMAYOR DE GALLEGO,723,0.300138
8209,51 CEUTA,51001,CEUTA,22402,0.149183
8212,52 MELILLA,52001,MELILLA,23931,0.190548

Finalmente guardamos los datos de afiliación a la Seguridad Social de los municipios, en este caso los correspondientes a noviembre 2019. Hicimos lo propio con los de las otras cuatro elecciones.

In [34]:
seg_sol_muni.to_csv('seg_sol_muni_N19.txt', sep = ',', index = False)

Ahora vamos con los datos provinciales, donde básicamente hacemos lo mismo que con los municipales. Comenzamos creando una columna con el código de provincia y a continuación otra con el nombre de éstas.

In [35]:
seg_sol_prov['cod_prov'] = seg_sol_prov['PROVINCIA'].str[0:2]

<ipython-input-35-933856933476>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_sol_prov['cod_prov'] = seg_sol_prov['PROVINCIA'].str[0:2]

In [36]:
seg_sol_prov

,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados,cod_prov
51,01 ARABA/ÁLAVA,PROVINCIAL,137351,706,2964,0,20482,0,161503,01
140,02 ALBACETE,PROVINCIAL,99059,9916,2342,0,29882,0,141199,02
283,03 ALICANTE/ALACANT,PROVINCIAL,505612,17252,9090,2572,132776,0,667302,03
388,04 ALMERIA,PROVINCIAL,184218,56661,2655,945,59498,0,303977,04
638,05 AVILA,PROVINCIAL,37070,1559,1063,0,14265,0,53957,05
805,06 BADAJOZ,PROVINCIAL,157765,39289,2647,0,49220,0,248921,06
874,07 ILLES BALEARS,PROVINCIAL,339249,2407,9972,1915,91248,0,444791,07
1187,08 BARCELONA,PROVINCIAL,2194000,4728,49704,3367,397477,0,2649276,08
1556,09 BURGOS,PROVINCIAL,117076,1144,2584,0,27531,0,148335,09
1781,10 CACERES,PROVINCIAL,91227,18880,1916,0,31313,0,143336,10
1828,11 CADIZ,PROVINCIAL,280307,26431,4046,4462,61219,0,376465,11
1965,12 CASTELLÓN/CASTELLÓ,PROVINCIAL,185133,11561,3807,1190,40908,0,242599,12
2069,13 CIUDAD REAL,PROVINCIAL,118780,10620,2979,0,35665,8,168052,13
2146,14 CORDOBA,PROVINCIAL,180988,64930,3593,0,52799,0,302310,14
2242,15 A CORUÑA,PROVINCIAL,335485,1955,11188,6228,85219,0,440075,15
2482,16 CUENCA,PROVINCIAL,51533,5659,1252,0,18830,0,77274,16
2705,17 GIRONA,PROVINCIAL,249486,3263,4899,1138,60208,0,318994,17
2875,18 GRANADA,PROVINCIAL,217833,50204,5352,185,64773,0,338347,18
3163,19 GUADALAJARA,PROVINCIAL,78361,629,1493,0,15069,0,95552,19
3253,20 GIPUZKOA,PROVINCIAL,250476,512,9806,691,66539,0,328024,20
3334,21 HUELVA,PROVINCIAL,116112,56352,1355,1854,27883,0,203556,21
3538,22 HUESCA,PROVINCIAL,70668,3658,1412,0,22101,0,97839,22
3637,23 JAEN,PROVINCIAL,133393,66273,2028,0,41369,0,243063,23
3850,24 LEON,PROVINCIAL,118404,1145,3198,0,36642,115,159504,24
4083,25 LLEIDA,PROVINCIAL,141359,6743,2210,0,38767,2,189081,25
4256,26 LA RIOJA,PROVINCIAL,98461,3486,2710,0,25726,0,130383,26
4325,27 LUGO,PROVINCIAL,82499,1686,3287,1539,33689,0,122700,27
4506,28 MADRID,PROVINCIAL,2786209,1914,104921,3883,407414,0,3304341,28
4611,29 MALAGA,PROVINCIAL,461397,31357,11524,1127,120117,0,625522,29
4658,30 MURCIA,PROVINCIAL,406301,73085,10975,1187,100292,0,591840,30
4932,31 NAVARRA,PROVINCIAL,231547,5144,7145,0,47206,0,291042,31
5026,32 OURENSE,PROVINCIAL,76607,322,3049,0,23605,0,103583,32
5106,33 ASTURIAS,PROVINCIAL,282946,1190,8308,1586,73144,1114,368288,33
5299,34 PALENCIA,PROVINCIAL,49938,900,904,0,13192,0,64934,34
5335,35 LAS PALMAS,PROVINCIAL,356617,6631,5599,3971,65169,0,437987,35
5399,36 PONTEVEDRA,PROVINCIAL,268385,1210,8435,13777,67012,0,358819,36
5763,37 SALAMANCA,PROVINCIAL,89989,1853,2646,0,26477,0,120965,37
5819,38 SANTA CRUZ DE TENERIFE,PROVINCIAL,311068,7498,4370,2520,63813,0,389269,38
5923,39 CANTABRIA,PROVINCIAL,170960,913,5104,1180,41384,0,219541,39
6134,40 SEGOVIA,PROVINCIAL,44295,2412,1284,0,14322,0,62313,40
6241,41 SEVILLA,PROVINCIAL,544551,87381,12772,387,111674,0,756765,41
6426,42 SORIA,PROVINCIAL,30076,695,740,0,7880,0,39391,42
6612,43 TARRAGONA,PROVINCIAL,242115,6948,3683,1892,53899,0,308537,43
6848,44 TERUEL,PROVINCIAL,40082,939,768,0,13241,47,55077,44
7054,45 TOLEDO,PROVINCIAL,173545,6475,3227,0,49763,0,233010,45
7323,46 VALENCIA/VALÈNCIA,PROVINCIAL,811236,35122,18292,3013,178520,0,1046183,46
7550,47 VALLADOLID,PROVINCIAL,177187,2837,4255,0,36079,0,220358,47
7663,48 BIZKAIA,PROVINCIAL,387401,918,15877,2946,83839,0,490981,48
7913,49 ZAMORA,PROVINCIAL,38790,1340,897,0,16809,0,57836,49
8207,50 ZARAGOZA,PROVINCIAL,344550,5789,8853,0,66319,21,425532,50
8210,51 CEUTA,PROVINCIAL,16887,2,2066,197,3390,0,22542,51
8213,52 MELILLA,PROVINCIAL,17742,6,1692,102,4700,0,24242,52

In [37]:
seg_sol_prov['Provincia'] = seg_sol_prov['PROVINCIA'].str[3:]

<ipython-input-37-4a8629d13e6b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_sol_prov['Provincia'] = seg_sol_prov['PROVINCIA'].str[3:]

In [38]:
seg_sol_prov

,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados,cod_prov,Provincia
51,01 ARABA/ÁLAVA,PROVINCIAL,137351,706,2964,0,20482,0,161503,01,ARABA/ÁLAVA
140,02 ALBACETE,PROVINCIAL,99059,9916,2342,0,29882,0,141199,02,ALBACETE
283,03 ALICANTE/ALACANT,PROVINCIAL,505612,17252,9090,2572,132776,0,667302,03,ALICANTE/ALACANT
388,04 ALMERIA,PROVINCIAL,184218,56661,2655,945,59498,0,303977,04,ALMERIA
638,05 AVILA,PROVINCIAL,37070,1559,1063,0,14265,0,53957,05,AVILA
805,06 BADAJOZ,PROVINCIAL,157765,39289,2647,0,49220,0,248921,06,BADAJOZ
874,07 ILLES BALEARS,PROVINCIAL,339249,2407,9972,1915,91248,0,444791,07,ILLES BALEARS
1187,08 BARCELONA,PROVINCIAL,2194000,4728,49704,3367,397477,0,2649276,08,BARCELONA
1556,09 BURGOS,PROVINCIAL,117076,1144,2584,0,27531,0,148335,09,BURGOS
1781,10 CACERES,PROVINCIAL,91227,18880,1916,0,31313,0,143336,10,CACERES
1828,11 CADIZ,PROVINCIAL,280307,26431,4046,4462,61219,0,376465,11,CADIZ
1965,12 CASTELLÓN/CASTELLÓ,PROVINCIAL,185133,11561,3807,1190,40908,0,242599,12,CASTELLÓN/CASTELLÓ
2069,13 CIUDAD REAL,PROVINCIAL,118780,10620,2979,0,35665,8,168052,13,CIUDAD REAL
2146,14 CORDOBA,PROVINCIAL,180988,64930,3593,0,52799,0,302310,14,CORDOBA
2242,15 A CORUÑA,PROVINCIAL,335485,1955,11188,6228,85219,0,440075,15,A CORUÑA
2482,16 CUENCA,PROVINCIAL,51533,5659,1252,0,18830,0,77274,16,CUENCA
2705,17 GIRONA,PROVINCIAL,249486,3263,4899,1138,60208,0,318994,17,GIRONA
2875,18 GRANADA,PROVINCIAL,217833,50204,5352,185,64773,0,338347,18,GRANADA
3163,19 GUADALAJARA,PROVINCIAL,78361,629,1493,0,15069,0,95552,19,GUADALAJARA
3253,20 GIPUZKOA,PROVINCIAL,250476,512,9806,691,66539,0,328024,20,GIPUZKOA
3334,21 HUELVA,PROVINCIAL,116112,56352,1355,1854,27883,0,203556,21,HUELVA
3538,22 HUESCA,PROVINCIAL,70668,3658,1412,0,22101,0,97839,22,HUESCA
3637,23 JAEN,PROVINCIAL,133393,66273,2028,0,41369,0,243063,23,JAEN
3850,24 LEON,PROVINCIAL,118404,1145,3198,0,36642,115,159504,24,LEON
4083,25 LLEIDA,PROVINCIAL,141359,6743,2210,0,38767,2,189081,25,LLEIDA
4256,26 LA RIOJA,PROVINCIAL,98461,3486,2710,0,25726,0,130383,26,LA RIOJA
4325,27 LUGO,PROVINCIAL,82499,1686,3287,1539,33689,0,122700,27,LUGO
4506,28 MADRID,PROVINCIAL,2786209,1914,104921,3883,407414,0,3304341,28,MADRID
4611,29 MALAGA,PROVINCIAL,461397,31357,11524,1127,120117,0,625522,29,MALAGA
4658,30 MURCIA,PROVINCIAL,406301,73085,10975,1187,100292,0,591840,30,MURCIA
4932,31 NAVARRA,PROVINCIAL,231547,5144,7145,0,47206,0,291042,31,NAVARRA
5026,32 OURENSE,PROVINCIAL,76607,322,3049,0,23605,0,103583,32,OURENSE
5106,33 ASTURIAS,PROVINCIAL,282946,1190,8308,1586,73144,1114,368288,33,ASTURIAS
5299,34 PALENCIA,PROVINCIAL,49938,900,904,0,13192,0,64934,34,PALENCIA
5335,35 LAS PALMAS,PROVINCIAL,356617,6631,5599,3971,65169,0,437987,35,LAS PALMAS
5399,36 PONTEVEDRA,PROVINCIAL,268385,1210,8435,13777,67012,0,358819,36,PONTEVEDRA
5763,37 SALAMANCA,PROVINCIAL,89989,1853,2646,0,26477,0,120965,37,SALAMANCA
5819,38 SANTA CRUZ DE TENERIFE,PROVINCIAL,311068,7498,4370,2520,63813,0,389269,38,SANTA CRUZ DE TENERIFE
5923,39 CANTABRIA,PROVINCIAL,170960,913,5104,1180,41384,0,219541,39,CANTABRIA
6134,40 SEGOVIA,PROVINCIAL,44295,2412,1284,0,14322,0,62313,40,SEGOVIA
6241,41 SEVILLA,PROVINCIAL,544551,87381,12772,387,111674,0,756765,41,SEVILLA
6426,42 SORIA,PROVINCIAL,30076,695,740,0,7880,0,39391,42,SORIA
6612,43 TARRAGONA,PROVINCIAL,242115,6948,3683,1892,53899,0,308537,43,TARRAGONA
6848,44 TERUEL,PROVINCIAL,40082,939,768,0,13241,47,55077,44,TERUEL
7054,45 TOLEDO,PROVINCIAL,173545,6475,3227,0,49763,0,233010,45,TOLEDO
7323,46 VALENCIA/VALÈNCIA,PROVINCIAL,811236,35122,18292,3013,178520,0,1046183,46,VALENCIA/VALÈNCIA
7550,47 VALLADOLID,PROVINCIAL,177187,2837,4255,0,36079,0,220358,47,VALLADOLID
7663,48 BIZKAIA,PROVINCIAL,387401,918,15877,2946,83839,0,490981,48,BIZKAIA
7913,49 ZAMORA,PROVINCIAL,38790,1340,897,0,16809,0,57836,49,ZAMORA
8207,50 ZARAGOZA,PROVINCIAL,344550,5789,8853,0,66319,21,425532,50,ZARAGOZA
8210,51 CEUTA,PROVINCIAL,16887,2,2066,197,3390,0,22542,51,CEUTA
8213,52 MELILLA,PROVINCIAL,17742,6,1692,102,4700,0,24242,52,MELILLA

También en las provincias añadimos la columna de la proporción de afiliados a la SS que son autónomos.

In [39]:
seg_sol_prov['prop_autonomos'] = seg_sol_prov['R. E. T. Autónomos'] / seg_sol_prov['Total_afiliados']

<ipython-input-39-ffe29f95c533>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seg_sol_prov['prop_autonomos'] = seg_sol_prov['R. E. T. Autónomos'] / seg_sol_prov['Total_afiliados']

In [40]:
seg_sol_prov

,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados,cod_prov,Provincia,prop_autonomos
51,01 ARABA/ÁLAVA,PROVINCIAL,137351,706,2964,0,20482,0,161503,01,ARABA/ÁLAVA,0.126821
140,02 ALBACETE,PROVINCIAL,99059,9916,2342,0,29882,0,141199,02,ALBACETE,0.211630
283,03 ALICANTE/ALACANT,PROVINCIAL,505612,17252,9090,2572,132776,0,667302,03,ALICANTE/ALACANT,0.198974
388,04 ALMERIA,PROVINCIAL,184218,56661,2655,945,59498,0,303977,04,ALMERIA,0.195732
638,05 AVILA,PROVINCIAL,37070,1559,1063,0,14265,0,53957,05,AVILA,0.264377
805,06 BADAJOZ,PROVINCIAL,157765,39289,2647,0,49220,0,248921,06,BADAJOZ,0.197733
874,07 ILLES BALEARS,PROVINCIAL,339249,2407,9972,1915,91248,0,444791,07,ILLES BALEARS,0.205148
1187,08 BARCELONA,PROVINCIAL,2194000,4728,49704,3367,397477,0,2649276,08,BARCELONA,0.150032
1556,09 BURGOS,PROVINCIAL,117076,1144,2584,0,27531,0,148335,09,BURGOS,0.185600
1781,10 CACERES,PROVINCIAL,91227,18880,1916,0,31313,0,143336,10,CACERES,0.218459
1828,11 CADIZ,PROVINCIAL,280307,26431,4046,4462,61219,0,376465,11,CADIZ,0.162615
1965,12 CASTELLÓN/CASTELLÓ,PROVINCIAL,185133,11561,3807,1190,40908,0,242599,12,CASTELLÓN/CASTELLÓ,0.168624
2069,13 CIUDAD REAL,PROVINCIAL,118780,10620,2979,0,35665,8,168052,13,CIUDAD REAL,0.212226
2146,14 CORDOBA,PROVINCIAL,180988,64930,3593,0,52799,0,302310,14,CORDOBA,0.174652
2242,15 A CORUÑA,PROVINCIAL,335485,1955,11188,6228,85219,0,440075,15,A CORUÑA,0.193647
2482,16 CUENCA,PROVINCIAL,51533,5659,1252,0,18830,0,77274,16,CUENCA,0.243678
2705,17 GIRONA,PROVINCIAL,249486,3263,4899,1138,60208,0,318994,17,GIRONA,0.188743
2875,18 GRANADA,PROVINCIAL,217833,50204,5352,185,64773,0,338347,18,GRANADA,0.191440
3163,19 GUADALAJARA,PROVINCIAL,78361,629,1493,0,15069,0,95552,19,GUADALAJARA,0.157705
3253,20 GIPUZKOA,PROVINCIAL,250476,512,9806,691,66539,0,328024,20,GIPUZKOA,0.202848
3334,21 HUELVA,PROVINCIAL,116112,56352,1355,1854,27883,0,203556,21,HUELVA,0.136980
3538,22 HUESCA,PROVINCIAL,70668,3658,1412,0,22101,0,97839,22,HUESCA,0.225892
3637,23 JAEN,PROVINCIAL,133393,66273,2028,0,41369,0,243063,23,JAEN,0.170199
3850,24 LEON,PROVINCIAL,118404,1145,3198,0,36642,115,159504,24,LEON,0.229725
4083,25 LLEIDA,PROVINCIAL,141359,6743,2210,0,38767,2,189081,25,LLEIDA,0.205029
4256,26 LA RIOJA,PROVINCIAL,98461,3486,2710,0,25726,0,130383,26,LA RIOJA,0.197311
4325,27 LUGO,PROVINCIAL,82499,1686,3287,1539,33689,0,122700,27,LUGO,0.274564
4506,28 MADRID,PROVINCIAL,2786209,1914,104921,3883,407414,0,3304341,28,MADRID,0.123297
4611,29 MALAGA,PROVINCIAL,461397,31357,11524,1127,120117,0,625522,29,MALAGA,0.192027
4658,30 MURCIA,PROVINCIAL,406301,73085,10975,1187,100292,0,591840,30,MURCIA,0.169458
4932,31 NAVARRA,PROVINCIAL,231547,5144,7145,0,47206,0,291042,31,NAVARRA,0.162197
5026,32 OURENSE,PROVINCIAL,76607,322,3049,0,23605,0,103583,32,OURENSE,0.227885
5106,33 ASTURIAS,PROVINCIAL,282946,1190,8308,1586,73144,1114,368288,33,ASTURIAS,0.198605
5299,34 PALENCIA,PROVINCIAL,49938,900,904,0,13192,0,64934,34,PALENCIA,0.203160
5335,35 LAS PALMAS,PROVINCIAL,356617,6631,5599,3971,65169,0,437987,35,LAS PALMAS,0.148792
5399,36 PONTEVEDRA,PROVINCIAL,268385,1210,8435,13777,67012,0,358819,36,PONTEVEDRA,0.186757
5763,37 SALAMANCA,PROVINCIAL,89989,1853,2646,0,26477,0,120965,37,SALAMANCA,0.218881
5819,38 SANTA CRUZ DE TENERIFE,PROVINCIAL,311068,7498,4370,2520,63813,0,389269,38,SANTA CRUZ DE TENERIFE,0.163930
5923,39 CANTABRIA,PROVINCIAL,170960,913,5104,1180,41384,0,219541,39,CANTABRIA,0.188502
6134,40 SEGOVIA,PROVINCIAL,44295,2412,1284,0,14322,0,62313,40,SEGOVIA,0.229840
6241,41 SEVILLA,PROVINCIAL,544551,87381,12772,387,111674,0,756765,41,SEVILLA,0.147568
6426,42 SORIA,PROVINCIAL,30076,695,740,0,7880,0,39391,42,SORIA,0.200046
6612,43 TARRAGONA,PROVINCIAL,242115,6948,3683,1892,53899,0,308537,43,TARRAGONA,0.174692
6848,44 TERUEL,PROVINCIAL,40082,939,768,0,13241,47,55077,44,TERUEL,0.240409
7054,45 TOLEDO,PROVINCIAL,173545,6475,3227,0,49763,0,233010,45,TOLEDO,0.213566
7323,46 VALENCIA/VALÈNCIA,PROVINCIAL,811236,35122,18292,3013,178520,0,1046183,46,VALENCIA/VALÈNCIA,0.170639
7550,47 VALLADOLID,PROVINCIAL,177187,2837,4255,0,36079,0,220358,47,VALLADOLID,0.163729
7663,48 BIZKAIA,PROVINCIAL,387401,918,15877,2946,83839,0,490981,48,BIZKAIA,0.170758
7913,49 ZAMORA,PROVINCIAL,38790,1340,897,0,16809,0,57836,49,ZAMORA,0.290632
8207,50 ZARAGOZA,PROVINCIAL,344550,5789,8853,0,66319,21,425532,50,ZARAGOZA,0.155850
8210,51 CEUTA,PROVINCIAL,16887,2,2066,197,3390,0,22542,51,CEUTA,0.150386
8213,52 MELILLA,PROVINCIAL,17742,6,1692,102,4700,0,24242,52,MELILLA,0.193878

In [41]:
seg_sol_prov.reset_index()

,index,PROVINCIA,MUNICIPIO,Reg. General(1),R. G.- S.E.Agrario,R. G.- S.E.Hogar(2),R. E. MAR,R. E. T. Autónomos,R. E. M. Carbón,Total_afiliados,cod_prov,Provincia,prop_autonomos
0,51,01 ARABA/ÁLAVA,PROVINCIAL,137351,706,2964,0,20482,0,161503,01,ARABA/ÁLAVA,0.126821
1,140,02 ALBACETE,PROVINCIAL,99059,9916,2342,0,29882,0,141199,02,ALBACETE,0.211630
2,283,03 ALICANTE/ALACANT,PROVINCIAL,505612,17252,9090,2572,132776,0,667302,03,ALICANTE/ALACANT,0.198974
3,388,04 ALMERIA,PROVINCIAL,184218,56661,2655,945,59498,0,303977,04,ALMERIA,0.195732
4,638,05 AVILA,PROVINCIAL,37070,1559,1063,0,14265,0,53957,05,AVILA,0.264377
5,805,06 BADAJOZ,PROVINCIAL,157765,39289,2647,0,49220,0,248921,06,BADAJOZ,0.197733
6,874,07 ILLES BALEARS,PROVINCIAL,339249,2407,9972,1915,91248,0,444791,07,ILLES BALEARS,0.205148
7,1187,08 BARCELONA,PROVINCIAL,2194000,4728,49704,3367,397477,0,2649276,08,BARCELONA,0.150032
8,1556,09 BURGOS,PROVINCIAL,117076,1144,2584,0,27531,0,148335,09,BURGOS,0.185600
9,1781,10 CACERES,PROVINCIAL,91227,18880,1916,0,31313,0,143336,10,CACERES,0.218459
10,1828,11 CADIZ,PROVINCIAL,280307,26431,4046,4462,61219,0,376465,11,CADIZ,0.162615
11,1965,12 CASTELLÓN/CASTELLÓ,PROVINCIAL,185133,11561,3807,1190,40908,0,242599,12,CASTELLÓN/CASTELLÓ,0.168624
12,2069,13 CIUDAD REAL,PROVINCIAL,118780,10620,2979,0,35665,8,168052,13,CIUDAD REAL,0.212226
13,2146,14 CORDOBA,PROVINCIAL,180988,64930,3593,0,52799,0,302310,14,CORDOBA,0.174652
14,2242,15 A CORUÑA,PROVINCIAL,335485,1955,11188,6228,85219,0,440075,15,A CORUÑA,0.193647
15,2482,16 CUENCA,PROVINCIAL,51533,5659,1252,0,18830,0,77274,16,CUENCA,0.243678
16,2705,17 GIRONA,PROVINCIAL,249486,3263,4899,1138,60208,0,318994,17,GIRONA,0.188743
17,2875,18 GRANADA,PROVINCIAL,217833,50204,5352,185,64773,0,338347,18,GRANADA,0.191440
18,3163,19 GUADALAJARA,PROVINCIAL,78361,629,1493,0,15069,0,95552,19,GUADALAJARA,0.157705
19,3253,20 GIPUZKOA,PROVINCIAL,250476,512,9806,691,66539,0,328024,20,GIPUZKOA,0.202848
20,3334,21 HUELVA,PROVINCIAL,116112,56352,1355,1854,27883,0,203556,21,HUELVA,0.136980
21,3538,22 HUESCA,PROVINCIAL,70668,3658,1412,0,22101,0,97839,22,HUESCA,0.225892
22,3637,23 JAEN,PROVINCIAL,133393,66273,2028,0,41369,0,243063,23,JAEN,0.170199
23,3850,24 LEON,PROVINCIAL,118404,1145,3198,0,36642,115,159504,24,LEON,0.229725
24,4083,25 LLEIDA,PROVINCIAL,141359,6743,2210,0,38767,2,189081,25,LLEIDA,0.205029
25,4256,26 LA RIOJA,PROVINCIAL,98461,3486,2710,0,25726,0,130383,26,LA RIOJA,0.197311
26,4325,27 LUGO,PROVINCIAL,82499,1686,3287,1539,33689,0,122700,27,LUGO,0.274564
27,4506,28 MADRID,PROVINCIAL,2786209,1914,104921,3883,407414,0,3304341,28,MADRID,0.123297
28,4611,29 MALAGA,PROVINCIAL,461397,31357,11524,1127,120117,0,625522,29,MALAGA,0.192027
29,4658,30 MURCIA,PROVINCIAL,406301,73085,10975,1187,100292,0,591840,30,MURCIA,0.169458
30,4932,31 NAVARRA,PROVINCIAL,231547,5144,7145,0,47206,0,291042,31,NAVARRA,0.162197
31,5026,32 OURENSE,PROVINCIAL,76607,322,3049,0,23605,0,103583,32,OURENSE,0.227885
32,5106,33 ASTURIAS,PROVINCIAL,282946,1190,8308,1586,73144,1114,368288,33,ASTURIAS,0.198605
33,5299,34 PALENCIA,PROVINCIAL,49938,900,904,0,13192,0,64934,34,PALENCIA,0.203160
34,5335,35 LAS PALMAS,PROVINCIAL,356617,6631,5599,3971,65169,0,437987,35,LAS PALMAS,0.148792
35,5399,36 PONTEVEDRA,PROVINCIAL,268385,1210,8435,13777,67012,0,358819,36,PONTEVEDRA,0.186757
36,5763,37 SALAMANCA,PROVINCIAL,89989,1853,2646,0,26477,0,120965,37,SALAMANCA,0.218881
37,5819,38 SANTA CRUZ DE TENERIFE,PROVINCIAL,311068,7498,4370,2520,63813,0,389269,38,SANTA CRUZ DE TENERIFE,0.163930
38,5923,39 CANTABRIA,PROVINCIAL,170960,913,5104,1180,41384,0,219541,39,CANTABRIA,0.188502
39,6134,40 SEGOVIA,PROVINCIAL,44295,2412,1284,0,14322,0,62313,40,SEGOVIA,0.229840
40,6241,41 SEVILLA,PROVINCIAL,544551,87381,12772,387,111674,0,756765,41,SEVILLA,0.147568
41,6426,42 SORIA,PROVINCIAL,30076,695,740,0,7880,0,39391,42,SORIA,0.200046
42,6612,43 TARRAGONA,PROVINCIAL,242115,6948,3683,1892,53899,0,308537,43,TARRAGONA,0.174692
43,6848,44 TERUEL,PROVINCIAL,40082,939,768,0,13241,47,55077,44,TERUEL,0.240409
44,7054,45 TOLEDO,PROVINCIAL,173545,6475,3227,0,49763,0,233010,45,TOLEDO,0.213566
45,7323,46 VALENCIA/VALÈNCIA,PROVINCIAL,811236,35122,18292,3013,178520,0,1046183,46,VALENCIA/VALÈNCIA,0.170639
46,7550,47 VALLADOLID,PROVINCIAL,177187,2837,4255,0,36079,0,220358,47,VALLADOLID,0.163729
47,7663,48 BIZKAIA,PROVINCIAL,387401,918,15877,2946,83839,0,490981,48,BIZKAIA,0.170758
48,7913,49 ZAMORA,PROVINCIAL,38790,1340,897,0,16809,0,57836,49,ZAMORA,0.290632
49,8207,50 ZARAGOZA,PROVINCIAL,344550,5789,8853,0,66319,21,425532,50,ZARAGOZA,0.155850
50,8210,51 CEUTA,PROVINCIAL,16887,2,2066,197,3390,0,22542,51,CEUTA,0.150386
51,8213,52 MELILLA,PROVINCIAL,17742,6,1692,102,4700,0,24242,52,MELILLA,0.193878

Tras resetear el índice, seleccionamos las columnas que nos interesan, que son las mismas que en el caso de los municipios.

In [42]:
seg_sol_prov.columns

Index(['PROVINCIA', 'MUNICIPIO', 'Reg. General(1)', 'R. G.- S.E.Agrario',
       'R. G.- S.E.Hogar(2)', 'R. E. MAR ', 'R. E. T. Autónomos',
       'R. E. M. Carbón', 'Total_afiliados', 'cod_prov', 'Provincia',
       'prop_autonomos'],
      dtype='object')

In [43]:
seg_sol_prov = seg_sol_prov[['cod_prov', 'Provincia', 'Total_afiliados', 'prop_autonomos']]

In [44]:
seg_sol_prov.reset_index(drop = True)

   cod_prov               Provincia  Total_afiliados  prop_autonomos
0        01             ARABA/ÁLAVA           161503        0.126821
1        02                ALBACETE           141199        0.211630
2        03        ALICANTE/ALACANT           667302        0.198974
3        04                 ALMERIA           303977        0.195732
4        05                   AVILA            53957        0.264377
5        06                 BADAJOZ           248921        0.197733
6        07           ILLES BALEARS           444791        0.205148
7        08               BARCELONA          2649276        0.150032
8        09                  BURGOS           148335        0.185600
9        10                 CACERES           143336        0.218459
10       11                   CADIZ           376465        0.162615
11       12      CASTELLÓN/CASTELLÓ           242599        0.168624
12       13             CIUDAD REAL           168052        0.212226
13       14                 CORDOBA           302310        0.174652
14       15                A CORUÑA           440075        0.193647
15       16                  CUENCA            77274        0.243678
16       17                  GIRONA           318994        0.188743
17       18                 GRANADA           338347        0.191440
18       19             GUADALAJARA            95552        0.157705
19       20                GIPUZKOA           328024        0.202848
20       21                  HUELVA           203556        0.136980
21       22                  HUESCA            97839        0.225892
22       23                    JAEN           243063        0.170199
23       24                    LEON           159504        0.229725
24       25                  LLEIDA           189081        0.205029
25       26                LA RIOJA           130383        0.197311
26       27                    LUGO           122700        0.274564
27       28                  MADRID          3304341        0.123297
28       29                  MALAGA           625522        0.192027
29       30                  MURCIA           591840        0.169458
30       31                 NAVARRA           291042        0.162197
31       32                 OURENSE           103583        0.227885
32       33                ASTURIAS           368288        0.198605
33       34                PALENCIA            64934        0.203160
34       35              LAS PALMAS           437987        0.148792
35       36              PONTEVEDRA           358819        0.186757
36       37               SALAMANCA           120965        0.218881
37       38  SANTA CRUZ DE TENERIFE           389269        0.163930
38       39               CANTABRIA           219541        0.188502
39       40                 SEGOVIA            62313        0.229840
40       41                 SEVILLA           756765        0.147568
41       42                   SORIA            39391        0.200046
42       43               TARRAGONA           308537        0.174692
43       44                  TERUEL            55077        0.240409
44       45                  TOLEDO           233010        0.213566
45       46       VALENCIA/VALÈNCIA          1046183        0.170639
46       47              VALLADOLID           220358        0.163729
47       48                 BIZKAIA           490981        0.170758
48       49                  ZAMORA            57836        0.290632
49       50                ZARAGOZA           425532        0.155850
50       51                   CEUTA            22542        0.150386
51       52                 MELILLA            24242        0.193878

Finalmente guardamos el dataset, que de nuevo habra uno por elección. En el nombre dejamos claro que se trata de datos provinciales.

In [45]:
seg_sol_prov.to_csv('seg_sol_prov_N19.txt', sep = ',', index = False)

## Datos de paro

Ahora examinamos los datos del paro, que también se expreasan por municipio, aunque en esta ocasión no podremos extraer los agregados por provincias directamente.

Comenzamos intentando que pandas nos carge los códigos geográficos en forma de strings.

In [46]:
cols_str = ['Código de CA', 'Codigo Provincia', 'Codigo Municipio']

In [47]:
dict_str = { x : 'str' for x in cols_str}

In [48]:
dict_str

{'Código de CA': 'str', 'Codigo Provincia': 'str', 'Codigo Municipio': 'str'}

In [53]:
import botocore.exceptions

KEY = 'INE/Dtes_empleo_por_municipios_segundo_semestre_2019_xls.xls' 

try:
    s3.Bucket(BUCKET_NAME).download_file(KEY, 'Dtes_empleo_por_municipios_segundo_semestre_2019_xls.xls')
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "404":
        print("The object does not exist.")
    else:
        raise

In [54]:
paro = pd.read_excel('Dtes_empleo_por_municipios_segundo_semestre_2019_xls.xls', 
                     header = 1, dtype = dict_str)

Sin embargo vemos que estos códigos estaban con el formato incorrecto ya en origen (fichero excel). Para corregirlo echamos mano del método .zfill()

In [55]:
paro

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Dtes Empleo,Dtes Empleo hombre edad < 25,Dtes Empleo hombre edad 25 -45,Dtes Empleo hombre edad >=45,Dtes Empleo mujer edad < 25,Dtes Empleo mujer edad 25 -45,Dtes Empleo mujer edad >=45,Dtes EmpleoAgricultura,Dtes Empleo Industria,Dtes Empleo Construcción,Dtes Empleo Servicios,Dtes Empleo Sin empleo Anterior
0,201907,Julio de 2019,1,Andalucía,4,Almería,4001,Abla,123,2,16,40,4,18,43,26,6,4,84,3
1,201907,Julio de 2019,1,Andalucía,4,Almería,4002,Abrucena,169,8,20,41,6,27,67,53,6,13,88,9
2,201907,Julio de 2019,1,Andalucía,4,Almería,4003,Adra,3955,148,634,658,191,1193,1131,769,93,223,2641,229
3,201907,Julio de 2019,1,Andalucía,4,Almería,4004,Albánchez,43,3,3,14,0,13,10,6,2,0,33,2
4,201907,Julio de 2019,1,Andalucía,4,Almería,4005,Alboloduy,91,0,13,21,1,23,33,27,6,8,48,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48757,201912,Diciembre de 2019,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,3,0,1,1,0,1,0,0,0,0,3,0
48758,201912,Diciembre de 2019,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0,0,0,0,0,0,0,0,0,0,0
48759,201912,Diciembre de 2019,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,7,0,1,2,0,2,2,0,1,0,6,0
48760,201912,Diciembre de 2019,18,Ceuta,51,Ceuta,51001,Ceuta,13431,747,2293,2318,982,3878,3213,89,483,559,9895,2405
48761,201912,Diciembre de 2019,19,Melilla,52,Melilla,52001,Melilla,12485,804,1687,2082,1113,3784,3015,101,202,704,8981,2497

In [59]:
paro.dtypes

Código mes                          int64
mes                                object
Código de CA                       object
Comunidad Autónoma                 object
Codigo Provincia                   object
Provincia                          object
Codigo Municipio                   object
 Municipio                         object
total Dtes Empleo                   int64
Dtes Empleo hombre edad < 25        int64
Dtes Empleo hombre edad 25 -45      int64
Dtes Empleo hombre edad >=45        int64
Dtes Empleo mujer edad < 25         int64
Dtes Empleo mujer edad 25 -45       int64
Dtes Empleo mujer edad >=45         int64
Dtes EmpleoAgricultura              int64
Dtes Empleo Industria               int64
Dtes Empleo Construcción            int64
Dtes Empleo Servicios               int64
Dtes Empleo Sin empleo Anterior     int64
dtype: object

In [60]:
paro["Código de CA"]= paro["Código de CA"].str.zfill(2)

In [61]:
paro["Codigo Provincia"]= paro["Codigo Provincia"].str.zfill(2)
paro["Codigo Municipio"]= paro["Codigo Municipio"].str.zfill(5)

Ahora sí que los códigos de provincia, CCAA y municipio parecen tener un formato adecuado.

In [62]:
paro

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Dtes Empleo,Dtes Empleo hombre edad < 25,Dtes Empleo hombre edad 25 -45,Dtes Empleo hombre edad >=45,Dtes Empleo mujer edad < 25,Dtes Empleo mujer edad 25 -45,Dtes Empleo mujer edad >=45,Dtes EmpleoAgricultura,Dtes Empleo Industria,Dtes Empleo Construcción,Dtes Empleo Servicios,Dtes Empleo Sin empleo Anterior
0,201907,Julio de 2019,01,Andalucía,04,Almería,04001,Abla,123,2,16,40,4,18,43,26,6,4,84,3
1,201907,Julio de 2019,01,Andalucía,04,Almería,04002,Abrucena,169,8,20,41,6,27,67,53,6,13,88,9
2,201907,Julio de 2019,01,Andalucía,04,Almería,04003,Adra,3955,148,634,658,191,1193,1131,769,93,223,2641,229
3,201907,Julio de 2019,01,Andalucía,04,Almería,04004,Albánchez,43,3,3,14,0,13,10,6,2,0,33,2
4,201907,Julio de 2019,01,Andalucía,04,Almería,04005,Alboloduy,91,0,13,21,1,23,33,27,6,8,48,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48757,201912,Diciembre de 2019,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,3,0,1,1,0,1,0,0,0,0,3,0
48758,201912,Diciembre de 2019,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0,0,0,0,0,0,0,0,0,0,0
48759,201912,Diciembre de 2019,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,7,0,1,2,0,2,2,0,1,0,6,0
48760,201912,Diciembre de 2019,18,Ceuta,51,Ceuta,51001,Ceuta,13431,747,2293,2318,982,3878,3213,89,483,559,9895,2405
48761,201912,Diciembre de 2019,19,Melilla,52,Melilla,52001,Melilla,12485,804,1687,2082,1113,3784,3015,101,202,704,8981,2497

Los ficheros excel que proporciona el SEPE están agregados por semestres, en este caso el 2º de 2019. Seleccionamos los datos correspondientes a noviembre de 2019.

In [63]:
paro = paro.loc[paro['Código mes '] == 201911]

In [64]:
paro

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Dtes Empleo,Dtes Empleo hombre edad < 25,Dtes Empleo hombre edad 25 -45,Dtes Empleo hombre edad >=45,Dtes Empleo mujer edad < 25,Dtes Empleo mujer edad 25 -45,Dtes Empleo mujer edad >=45,Dtes EmpleoAgricultura,Dtes Empleo Industria,Dtes Empleo Construcción,Dtes Empleo Servicios,Dtes Empleo Sin empleo Anterior
32508,201911,Noviembre de 2019,01,Andalucía,04,Almería,04001,Abla,140,4,17,38,7,35,39,35,3,6,88,8
32509,201911,Noviembre de 2019,01,Andalucía,04,Almería,04002,Abrucena,179,5,19,44,13,30,68,57,5,14,96,7
32510,201911,Noviembre de 2019,01,Andalucía,04,Almería,04003,Adra,2525,126,435,532,112,656,664,604,79,214,1399,229
32511,201911,Noviembre de 2019,01,Andalucía,04,Almería,04004,Albánchez,33,2,1,17,0,5,8,5,2,0,25,1
32512,201911,Noviembre de 2019,01,Andalucía,04,Almería,04005,Alboloduy,78,2,12,19,2,18,25,25,7,7,37,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40630,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2,0,0,1,0,1,0,0,0,0,2,0
40631,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0,0,0,0,0,0,0,0,0,0,0
40632,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,5,0,1,2,0,1,1,0,1,0,4,0
40633,201911,Noviembre de 2019,18,Ceuta,51,Ceuta,51001,Ceuta,13751,810,2400,2340,1022,3962,3217,92,493,552,10147,2467
40634,201911,Noviembre de 2019,19,Melilla,52,Melilla,52001,Melilla,12737,838,1725,2101,1139,3894,3040,102,206,681,9188,2560

In [65]:
paro.columns

Index(['Código mes ', 'mes', 'Código de CA', 'Comunidad Autónoma',
       'Codigo Provincia', 'Provincia', 'Codigo Municipio', ' Municipio',
       'total Dtes Empleo', 'Dtes Empleo hombre edad < 25',
       'Dtes Empleo hombre edad 25 -45 ', 'Dtes Empleo hombre edad >=45',
       'Dtes Empleo mujer edad < 25', 'Dtes Empleo mujer edad 25 -45 ',
       'Dtes Empleo mujer edad >=45', 'Dtes EmpleoAgricultura',
       'Dtes Empleo Industria', 'Dtes Empleo Construcción',
       'Dtes Empleo Servicios', 'Dtes Empleo Sin empleo Anterior'],
      dtype='object')

Pensamos que igual es interesante la variable de distribución de paro total por sexos, que no viene explicitada, por lo que la definimos nosotros, sumando las correspondientes a las edades.

In [66]:
paro['prop_hombres'] = (paro['Dtes Empleo hombre edad 25 -45 '] + 
                        paro['Dtes Empleo hombre edad < 25'] + 
                        paro['Dtes Empleo hombre edad >=45']) / paro['total Dtes Empleo']

<ipython-input-66-887b37622282>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paro['prop_hombres'] = (paro['Dtes Empleo hombre edad 25 -45 '] +

In [67]:
paro

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Dtes Empleo,Dtes Empleo hombre edad < 25,...,Dtes Empleo hombre edad >=45,Dtes Empleo mujer edad < 25,Dtes Empleo mujer edad 25 -45,Dtes Empleo mujer edad >=45,Dtes EmpleoAgricultura,Dtes Empleo Industria,Dtes Empleo Construcción,Dtes Empleo Servicios,Dtes Empleo Sin empleo Anterior,prop_hombres
32508,201911,Noviembre de 2019,01,Andalucía,04,Almería,04001,Abla,140,4,...,38,7,35,39,35,3,6,88,8,0.421429
32509,201911,Noviembre de 2019,01,Andalucía,04,Almería,04002,Abrucena,179,5,...,44,13,30,68,57,5,14,96,7,0.379888
32510,201911,Noviembre de 2019,01,Andalucía,04,Almería,04003,Adra,2525,126,...,532,112,656,664,604,79,214,1399,229,0.432871
32511,201911,Noviembre de 2019,01,Andalucía,04,Almería,04004,Albánchez,33,2,...,17,0,5,8,5,2,0,25,1,0.606061
32512,201911,Noviembre de 2019,01,Andalucía,04,Almería,04005,Alboloduy,78,2,...,19,2,18,25,25,7,7,37,2,0.423077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40630,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2,0,...,1,0,1,0,0,0,0,2,0,0.500000
40631,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0,...,0,0,0,0,0,0,0,0,0,NaN
40632,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,5,0,...,2,0,1,1,0,1,0,4,0,0.600000
40633,201911,Noviembre de 2019,18,Ceuta,51,Ceuta,51001,Ceuta,13751,810,...,2340,1022,3962,3217,92,493,552,10147,2467,0.403607
40634,201911,Noviembre de 2019,19,Melilla,52,Melilla,52001,Melilla,12737,838,...,2101,1139,3894,3040,102,206,681,9188,2560,0.366177

Para esta columna asumimos un 50% de proporción de hombres en aquellos municipios en los que no hay datos.

In [68]:
paro['prop_hombres'] = paro['prop_hombres'].replace(np.nan, 0.5, regex=True)

<ipython-input-68-59099ae36781>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paro['prop_hombres'] = paro['prop_hombres'].replace(np.nan, 0.5, regex=True)

In [69]:
paro

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Dtes Empleo,Dtes Empleo hombre edad < 25,...,Dtes Empleo hombre edad >=45,Dtes Empleo mujer edad < 25,Dtes Empleo mujer edad 25 -45,Dtes Empleo mujer edad >=45,Dtes EmpleoAgricultura,Dtes Empleo Industria,Dtes Empleo Construcción,Dtes Empleo Servicios,Dtes Empleo Sin empleo Anterior,prop_hombres
32508,201911,Noviembre de 2019,01,Andalucía,04,Almería,04001,Abla,140,4,...,38,7,35,39,35,3,6,88,8,0.421429
32509,201911,Noviembre de 2019,01,Andalucía,04,Almería,04002,Abrucena,179,5,...,44,13,30,68,57,5,14,96,7,0.379888
32510,201911,Noviembre de 2019,01,Andalucía,04,Almería,04003,Adra,2525,126,...,532,112,656,664,604,79,214,1399,229,0.432871
32511,201911,Noviembre de 2019,01,Andalucía,04,Almería,04004,Albánchez,33,2,...,17,0,5,8,5,2,0,25,1,0.606061
32512,201911,Noviembre de 2019,01,Andalucía,04,Almería,04005,Alboloduy,78,2,...,19,2,18,25,25,7,7,37,2,0.423077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40630,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2,0,...,1,0,1,0,0,0,0,2,0,0.500000
40631,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0,...,0,0,0,0,0,0,0,0,0,0.500000
40632,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,5,0,...,2,0,1,1,0,1,0,4,0,0.600000
40633,201911,Noviembre de 2019,18,Ceuta,51,Ceuta,51001,Ceuta,13751,810,...,2340,1022,3962,3217,92,493,552,10147,2467,0.403607
40634,201911,Noviembre de 2019,19,Melilla,52,Melilla,52001,Melilla,12737,838,...,2101,1139,3894,3040,102,206,681,9188,2560,0.366177

También parece interesante la proporción de parados que tienen más de 45 años, sean hombres o mujeres. Definimos también esta columna.

In [70]:
paro['mayores_45'] = (paro['Dtes Empleo hombre edad >=45'] + paro['Dtes Empleo mujer edad >=45']) / paro['total Dtes Empleo']

<ipython-input-70-a82ba9c5e957>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paro['mayores_45'] = (paro['Dtes Empleo hombre edad >=45'] + paro['Dtes Empleo mujer edad >=45']) / paro['total Dtes Empleo']

In [71]:
paro

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Dtes Empleo,Dtes Empleo hombre edad < 25,...,Dtes Empleo mujer edad < 25,Dtes Empleo mujer edad 25 -45,Dtes Empleo mujer edad >=45,Dtes EmpleoAgricultura,Dtes Empleo Industria,Dtes Empleo Construcción,Dtes Empleo Servicios,Dtes Empleo Sin empleo Anterior,prop_hombres,mayores_45
32508,201911,Noviembre de 2019,01,Andalucía,04,Almería,04001,Abla,140,4,...,7,35,39,35,3,6,88,8,0.421429,0.550000
32509,201911,Noviembre de 2019,01,Andalucía,04,Almería,04002,Abrucena,179,5,...,13,30,68,57,5,14,96,7,0.379888,0.625698
32510,201911,Noviembre de 2019,01,Andalucía,04,Almería,04003,Adra,2525,126,...,112,656,664,604,79,214,1399,229,0.432871,0.473663
32511,201911,Noviembre de 2019,01,Andalucía,04,Almería,04004,Albánchez,33,2,...,0,5,8,5,2,0,25,1,0.606061,0.757576
32512,201911,Noviembre de 2019,01,Andalucía,04,Almería,04005,Alboloduy,78,2,...,2,18,25,25,7,7,37,2,0.423077,0.564103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40630,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2,0,...,0,1,0,0,0,0,2,0,0.500000,0.500000
40631,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0,...,0,0,0,0,0,0,0,0,0.500000,NaN
40632,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,5,0,...,0,1,1,0,1,0,4,0,0.600000,0.600000
40633,201911,Noviembre de 2019,18,Ceuta,51,Ceuta,51001,Ceuta,13751,810,...,1022,3962,3217,92,493,552,10147,2467,0.403607,0.404116
40634,201911,Noviembre de 2019,19,Melilla,52,Melilla,52001,Melilla,12737,838,...,1139,3894,3040,102,206,681,9188,2560,0.366177,0.403627

In [72]:
paro.columns

Index(['Código mes ', 'mes', 'Código de CA', 'Comunidad Autónoma',
       'Codigo Provincia', 'Provincia', 'Codigo Municipio', ' Municipio',
       'total Dtes Empleo', 'Dtes Empleo hombre edad < 25',
       'Dtes Empleo hombre edad 25 -45 ', 'Dtes Empleo hombre edad >=45',
       'Dtes Empleo mujer edad < 25', 'Dtes Empleo mujer edad 25 -45 ',
       'Dtes Empleo mujer edad >=45', 'Dtes EmpleoAgricultura',
       'Dtes Empleo Industria', 'Dtes Empleo Construcción',
       'Dtes Empleo Servicios', 'Dtes Empleo Sin empleo Anterior',
       'prop_hombres', 'mayores_45'],
      dtype='object')

A continuación renombramos varias columnas, principalmente códigos geográficos, que serán comunes con otras bases de datos, y que nos ayudarán a la hora de unificarlos.

In [73]:
paro = paro.rename(columns={"Comunidad Autónoma": "CCAA", 'Código de CA': 'cod_ccaa', 'Codigo Provincia': 'cod_prov', 'Codigo Municipio': 'cod_mun' }, errors="raise")

In [74]:
paro

,Código mes,mes,cod_ccaa,CCAA,cod_prov,Provincia,cod_mun,Municipio,total Dtes Empleo,Dtes Empleo hombre edad < 25,...,Dtes Empleo mujer edad < 25,Dtes Empleo mujer edad 25 -45,Dtes Empleo mujer edad >=45,Dtes EmpleoAgricultura,Dtes Empleo Industria,Dtes Empleo Construcción,Dtes Empleo Servicios,Dtes Empleo Sin empleo Anterior,prop_hombres,mayores_45
32508,201911,Noviembre de 2019,01,Andalucía,04,Almería,04001,Abla,140,4,...,7,35,39,35,3,6,88,8,0.421429,0.550000
32509,201911,Noviembre de 2019,01,Andalucía,04,Almería,04002,Abrucena,179,5,...,13,30,68,57,5,14,96,7,0.379888,0.625698
32510,201911,Noviembre de 2019,01,Andalucía,04,Almería,04003,Adra,2525,126,...,112,656,664,604,79,214,1399,229,0.432871,0.473663
32511,201911,Noviembre de 2019,01,Andalucía,04,Almería,04004,Albánchez,33,2,...,0,5,8,5,2,0,25,1,0.606061,0.757576
32512,201911,Noviembre de 2019,01,Andalucía,04,Almería,04005,Alboloduy,78,2,...,2,18,25,25,7,7,37,2,0.423077,0.564103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40630,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2,0,...,0,1,0,0,0,0,2,0,0.500000,0.500000
40631,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0,...,0,0,0,0,0,0,0,0,0.500000,NaN
40632,201911,Noviembre de 2019,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,5,0,...,0,1,1,0,1,0,4,0,0.600000,0.600000
40633,201911,Noviembre de 2019,18,Ceuta,51,Ceuta,51001,Ceuta,13751,810,...,1022,3962,3217,92,493,552,10147,2467,0.403607,0.404116
40634,201911,Noviembre de 2019,19,Melilla,52,Melilla,52001,Melilla,12737,838,...,1139,3894,3040,102,206,681,9188,2560,0.366177,0.403627

Pequeñas rectificaciones a los nombres de las columnas:

In [75]:
paro = paro.rename(columns={"mayores_45": "prop_mayores_45"}, errors="raise")

In [76]:
paro = paro.rename(columns={' Municipio': 'Municipio'}, errors="raise")

In [77]:
paro.columns

Index(['Código mes ', 'mes', 'cod_ccaa', 'CCAA', 'cod_prov', 'Provincia',
       'cod_mun', 'Municipio', 'total Dtes Empleo',
       'Dtes Empleo hombre edad < 25', 'Dtes Empleo hombre edad 25 -45 ',
       'Dtes Empleo hombre edad >=45', 'Dtes Empleo mujer edad < 25',
       'Dtes Empleo mujer edad 25 -45 ', 'Dtes Empleo mujer edad >=45',
       'Dtes EmpleoAgricultura', 'Dtes Empleo Industria',
       'Dtes Empleo Construcción', 'Dtes Empleo Servicios',
       'Dtes Empleo Sin empleo Anterior', 'prop_hombres', 'prop_mayores_45'],
      dtype='object')

Seleccionamos los nombres de las columnas que realmente nos interesan

In [78]:
paro = paro[['Código mes ', 'cod_ccaa', 'CCAA', 'cod_prov', 'Provincia',
       'cod_mun', 'Municipio', 'total Dtes Empleo', 'prop_hombres', 'prop_mayores_45']]

In [79]:
paro

,Código mes,cod_ccaa,CCAA,cod_prov,Provincia,cod_mun,Municipio,total Dtes Empleo,prop_hombres,prop_mayores_45
32508,201911,01,Andalucía,04,Almería,04001,Abla,140,0.421429,0.550000
32509,201911,01,Andalucía,04,Almería,04002,Abrucena,179,0.379888,0.625698
32510,201911,01,Andalucía,04,Almería,04003,Adra,2525,0.432871,0.473663
32511,201911,01,Andalucía,04,Almería,04004,Albánchez,33,0.606061,0.757576
32512,201911,01,Andalucía,04,Almería,04005,Alboloduy,78,0.423077,0.564103
...,...,...,...,...,...,...,...,...,...,...
40630,201911,17,"Rioja, La",26,"Rioja, La",26180,Zarratón,2,0.500000,0.500000
40631,201911,17,"Rioja, La",26,"Rioja, La",26181,Zarzosa,0,0.500000,NaN
40632,201911,17,"Rioja, La",26,"Rioja, La",26183,Zorraquín,5,0.600000,0.600000
40633,201911,18,Ceuta,51,Ceuta,51001,Ceuta,13751,0.403607,0.404116
40634,201911,19,Melilla,52,Melilla,52001,Melilla,12737,0.366177,0.403627

Rellenamos brevemente algunos NaN de la columna de la proporción de parados de más de 45 años.

In [80]:
paro['prop_mayores_45'] = paro['prop_mayores_45'].replace(np.nan, 0.35, regex=True)

Y finalmente guardamos el dataset, uno por cada elección. En el caso de la de 2011, el formato de los datos fue algo diferente, lo que requirió un cuaderno especial, pero el procedimiento fue de todas formas similar.

In [81]:
paro.to_csv('paro_muni_N19.txt', sep = ',', index = False)

In [82]:
#para guardar el archivo en s3:

from botocore.exceptions import ClientError

s3_client = boto3.client(
    's3',
    aws_access_key_id='XXXXXXXXX',
    aws_secret_access_key='XXXXXXXXXX',    
)

def upload_file(file_name, bucket, object_name=None):
    """Subir un archivo a un bucket
    :param file_name: archivo que hay que subir
    :param bucket: Bucket al que hay que subirlo
    :param object_name: S3 object name. Incluye la carpeta en la que hay que guardarlo. si no hay no se pone nada
    :return: True si sube el archivo, else False
    """

    # If S3 object_name was not specified, use file_name
    if object_name is None:
        object_name = file_name

    # Upload the file
    #s3_client = boto3.client('s3')
    try:
        response = s3_client.upload_file(file_name, bucket, object_name)
    except ClientError as e:
        logging.error(e)
        return False
    return True

In [83]:
upload_file('seg_sol_muni_N19.txt',
            'electomedia',
            object_name = "INE/" + 'seg_sol_muni_N19.txt'
           )

True

In [84]:
upload_file('seg_sol_prov_N19.txt',
            'electomedia',
            object_name = "INE/" + 'seg_sol_prov_N19.txt'
           )

True

In [85]:
upload_file('paro_muni_N19.txt',
            'electomedia',
            object_name = "INE/" + 'paro_muni_N19.txt'
           )

True