# Evolución y equivalencia temporal de las secciones electorales

Las secciones electorales no son constantes en el tiempo. A medida que varía la distribución de la población, las secciones hacen también lo propio. La definición geométrica de éstas se revisa todos los años, pudiendose crear nuevas secciones o fusionarse otras.

Es por ello que las secciones de una elección no son las mismas que en otra, por lo que es preciso definir la forma de poder relacionar unas secciones en una elección otra.

La forma que hemos elegido es la de proximidad geográfica, es decir, si tomamos una sección X en una elección, su equivalencia en otra elección será la sección más cercana geográficamente a X. Impondremos que las secciones equivalentes pertenezcan al mismo municipio, y si el municipio ya no existe o se ha creado de la nada (cosa que pasa), haremos que se conserve la provincia.

Naturalmente, deberemos utilizar la definición geométrica que no proporcionan los ficheros shapely del INE, que leeremos con Geopandas.

Comenzamos pues cargando las librerias necesarias, incluyendo todas las que vienen con Geopandas.

In [ ]:
#dejamos este notebook como ejemplo para mostrar el proceso de ETL llevado a cabo sobre los datos iniciales del INE pero no actualizamos los archivos resultado en S3 ya que, como explicamos más abajo, no son del todo válidos

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
%%time 

# Important library for many geopython libraries
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
# Install Folium for Geographic data visualization
!pip install folium
# Install plotlyExpress
!pip install plotly_express

Reading package lists... Done
Building dependency tree
Reading state information... Done
gdal-bin is already the newest version (2.2.3+dfsg-2).
python-gdal is already the newest version (2.2.3+dfsg-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  python3-numpy
Suggested packages:
  python-numpy-doc python3-nose python3-numpy-dbg
The following NEW packages will be installed:
  python3-gdal python3-numpy
0 upgraded, 2 newly installed, 0 to remove and 40 not upgraded.
Need to get 2,288 kB of archives.
After this operation, 13.2 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-numpy amd64 1:1.13.3-2ubuntu1 [1,943 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-gdal amd64 2.2.3+dfsg-2 [346 kB]
Fetched 2,288 kB in 1s (1,949 kB/s)
Selecting previously unselected package python3-numpy.
(Reading database ... 148486 files and directories currently installed.)
Preparing to unpack .../python3-numpy_1%3a1.13.3-2ubuntu1_amd64.deb ...
Unpacking python3-numpy (1:1.13.3-2ubuntu1) ...
Selecting previously unselected package python3-gdal.
Preparing to unpack .../python3-gdal_2.2.3+dfsg-2_amd64.deb ...
Unpacking python3-gdal (2.2.3+dfsg-2) ...
Setting up python3-numpy (1:1.13.3-2ubuntu1) ...
Setting up python3-gdal (2.2.3+dfsg-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources
Suggested packages:
  python3-setuptools
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources python3-rtree
0 upgraded, 5 newly installed, 0 to remove and 40 not upgraded.
Need to get 671 kB of archives.
After this operation, 3,948 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-pkg-resources all 39.0.1-2 [98.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-rtree all 0.8.3+ds-1 [16.9 kB]
Fetched 671 kB in 1s (675 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 148896 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-pkg-resources.
Preparing to unpack .../python3-pkg-resources_39.0.1-2_all.deb ...
Unpacking python3-pkg-resources (39.0.1-2) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-rtree.
Preparing to unpack .../python3-rtree_0.8.3+ds-1_all.deb ...
Unpacking python3-rtree (0.8.3+ds-1) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up python3-pkg-resources (39.0.1-2) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up python3-rtree (0.8.3+ds-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /tmp/pip-req-build-6mdt62f_
  Running command git clone -q git://github.com/geopandas/geopandas.git /tmp/pip-req-build-6mdt62f_
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+59.g4536b92) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+59.g4536b92) (1.7.1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 36 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 40.0 MB/s
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+59.g4536b92) (2021.5.30)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+59.g4536b92) (21.2.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+59.g4536b92) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+59.g4536b92) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+59.g4536b92) (7.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+59.g4536b92) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+59.g4536b92) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+59.g4536b92) (1.19.5)
Building wheels for collected packages: geopandas
  Building wheel for geopandas (setup.py) ... done
  Created wheel for geopandas: filename=geopandas-0.9.0+59.g4536b92-py2.py3-none-any.whl size=998383 sha256=9e86384092157ebd0183e8d55eda09334d6e2ea8d6bd3ae99fc58a795ea42515
  Stored in directory: /tmp/pip-ephem-wheel-cache-x_z7_g_1/wheels/cf/3e/0b/6475054094c2b1ea054158ac1fdcf749fb92f5b512377e4cf8
Successfully built geopandas
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0+59.g4536b92 munch-2.5.0 pyproj-3.1.0
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->descartes) (1.15.0)
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.1)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1
CPU times: user 433 ms, sys: 126 ms, total: 559 ms
Wall time: 44.8 s

In [ ]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import matplotlib
import matplotlib.pyplot as plt 
import folium
import plotly_express as px

Ahora cargamos el fichero shapely de las elecciones de 2019, que es el mismo para las de abril y noviembre.

In [ ]:
secciones_A19 = gpd.read_file('SECC_CE_20190101.shp')

In [ ]:
secciones_A19

       OBJECTID  ...                                           geometry
0             1  ...  MULTIPOLYGON (((556453.835 4752758.332, 556460...
1             2  ...  POLYGON ((502035.230 4771813.197, 502048.071 4...
2             3  ...  MULTIPOLYGON (((538984.636 4718139.608, 538985...
3             4  ...  POLYGON ((537063.531 4703664.589, 536887.844 4...
4             6  ...  POLYGON ((551570.951 4739269.962, 551570.889 4...
...         ...  ...                                                ...
36312     10673  ...  POLYGON ((17713.727 4798559.174, 17794.388 479...
36313     10659  ...  POLYGON ((75420.668 4796270.576, 75442.668 479...
36314     10189  ...  POLYGON ((59718.470 4802760.627, 59735.222 480...
36315     13100  ...  POLYGON ((151385.134 4180084.902, 151402.134 4...
36316     35989  ...  POLYGON ((372352.294 4067015.716, 372339.457 4...

[36317 rows x 24 columns]

El primer paso que damos es el crear el código completo de la sección, que incluya la elección. 

Aquí cometimos un error, confiando en que el INE e Interior hubiesen adoptado el mismo cógido para las CCAA, cosa que no es así. Nos dimos cuenta tarde, y tuviimos que arreglarlo con otro cuaderno. Las variaciones no fueron importantes, con lo que lo que hacemos en este cuaderno es válido.

In [ ]:
secciones_A19['cod_sec'] = '022019041' + secciones_A19['CCA'] + secciones_A19['CUSEC']

In [ ]:
secciones_A19['CCA'].value_counts()

01    5981
09    5071
13    4417
07    3543
10    3472
12    2169
08    1948
16    1711
02    1450
05    1381
14    1225
11     965
03     850
04     662
15     562
06     467
17     343
18      56
19      44
Name: CCA, dtype: int64

In [ ]:
secciones_A19.head()

   OBJECTID  ...                cod_sec
0         1  ...  022019041160100901001
1         2  ...  022019041160101001002
2         3  ...  022019041160103101001
3         4  ...  022019041160103301001
4         6  ...  022019041160103701001

[5 rows x 25 columns]

In [ ]:
len(secciones_A19['cod_sec'].unique())

36317

Cargamos el dataset de las elecciones de abril de 2019.

In [ ]:
strings = {'Sección' : 'str', 'cod_ccaa' : 'str', 'cod_prov' : 'str', 'cod_mun' : 'str', 'cod_sec' : 'str'}

In [ ]:
df_eleccion_A19 = pd.read_csv('gen_A19_unif_cols_prov.txt', dtype = strings)

In [ ]:
df_eleccion_A19

                     Sección  ...                                       dict_res_ord
0      022019041010400101001  ...  [('PSOE', 326), ('PP', 149), ('Cs', 131), ('VO...
1      022019041010400201001  ...  [('PSOE', 380), ('PP', 127), ('VOX', 113), ('C...
2      022019041010400301001  ...  [('PP', 162), ('PSOE', 131), ('VOX', 103), ('C...
3      022019041010400301002  ...  [('PSOE', 241), ('PP', 239), ('VOX', 218), ('C...
4      022019041010400301003  ...  [('VOX', 282), ('PP', 274), ('PSOE', 252), ('C...
...                      ...  ...                                                ...
36312  022019041195200108011  ...  [('Otros', 288), ('PP', 250), ('PSOE', 194), (...
36313  022019041195200108012  ...  [('PP', 421), ('PSOE', 238), ('VOX', 212), ('C...
36314  022019041195200108013  ...  [('PP', 175), ('PSOE', 168), ('VOX', 144), ('C...
36315  022019041195200108014  ...  [('PP', 222), ('VOX', 103), ('PSOE', 98), ('Ot...
36316  022019041195200108015  ...  [('PP', 300), ('PSOE', 267), ('VOX', 203), ('C...

[36317 rows x 97 columns]

Aquí lo que comprobamos es que los códigos de las CCAA son distintos, según el INE e Interior. Lo rectificamos en otro cuaderno.

Con todo, estas filas que siguen son posteriores a redactar este cuaderno, luego lo que hicimos al principio es continuar creando los cógidos completos de las secciones en los demás ficheros shapely.

In [ ]:
df_eleccion_A19['parte'] = df_eleccion_A19['Sección'].str[0:9]

In [ ]:
df_eleccion_A19['parte'].value_counts()

022019041    36317
Name: parte, dtype: int64

In [ ]:
secciones_A19['cod_sec'].str[0:9].value_counts()

022019041    36317
Name: cod_sec, dtype: int64

In [ ]:
df_eleccion_A19['cod_ccaa'].value_counts()

01    5981
09    5071
12    4417
08    3543
17    3472
11    2169
07    1948
14    1711
02    1450
05    1381
15    1225
10     965
03     850
04     662
13     562
06     467
16     343
18      56
19      44
Name: cod_ccaa, dtype: int64

In [ ]:
secciones_A19['CCA'].value_counts()

01    5981
09    5071
13    4417
07    3543
10    3472
12    2169
08    1948
16    1711
02    1450
05    1381
14    1225
11     965
03     850
04     662
15     562
06     467
17     343
18      56
19      44
Name: CCA, dtype: int64

Así, ahora cargamos el fichero shapey de noviembre de 2019, y creamos el código de sección, que está mal, pero entonces no los sabíamos.

In [ ]:
secciones_N19 = gpd.read_file('SECC_CE_20190101.shp')

In [ ]:
secciones_N19['cod_sec'] = '022019111' + secciones_N19['CCA'] + secciones_N19['CUSEC']

In [ ]:
secciones_N19

       OBJECTID  ...                cod_sec
0             1  ...  022019111160100901001
1             2  ...  022019111160101001002
2             3  ...  022019111160103101001
3             4  ...  022019111160103301001
4             6  ...  022019111160103701001
...         ...  ...                    ...
36312     10673  ...  022019111121509302002
36313     10659  ...  022019111121590203001
36314     10189  ...  022019111121503103003
36315     13100  ...  022019111012101701002
36316     35989  ...  022019111012906707064

[36317 rows x 25 columns]

Hacemos lo mismo con el de 2015.

In [ ]:
secciones_D15 = gpd.read_file('SECC_CE_20150101_01_R_INE.shp')

In [ ]:
secciones_D15['cod_sec'] = '022015121' + secciones_D15['CCA'] + secciones_D15['CUSEC']

In [ ]:
secciones_D15

            CUSEC  ...                cod_sec
0      0100101001  ...  022015121160100101001
1      0100101002  ...  022015121160100101002
2      0100201001  ...  022015121160100201001
3      0100201002  ...  022015121160100201002
4      0100201003  ...  022015121160100201003
...           ...  ...                    ...
36224  5200108011  ...  022015121195200108011
36225  5200108012  ...  022015121195200108012
36226  5200108013  ...  022015121195200108013
36227  5200108014  ...  022015121195200108014
36228  5200108015  ...  022015121195200108015

[36229 rows x 20 columns]

In [ ]:
secciones_D15['CCA'].value_counts()

01    5926
09    5050
13    4341
07    3553
10    3473
12    2196
08    1952
16    1735
02    1448
05    1367
14    1232
11     966
03     871
04     653
15     562
06     468
17     338
18      54
19      44
Name: CCA, dtype: int64

Y con el de 2016.

In [ ]:
secciones_J16 = gpd.read_file('SECC_CE_20160101.shp')

In [ ]:
secciones_J16['cod_sec'] = '022016061' + secciones_J16['CCA'] + secciones_J16['CUSEC']

In [ ]:
secciones_J16

            CUSEC  ...                cod_sec
0      0100101001  ...  022016061160100101001
1      0100101002  ...  022016061160100101002
2      0100201001  ...  022016061160100201001
3      0100201002  ...  022016061160100201002
4      0100201003  ...  022016061160100201003
...           ...  ...                    ...
36210  5200108011  ...  022016061195200108011
36211  5200108012  ...  022016061195200108012
36212  5200108013  ...  022016061195200108013
36213  5200108014  ...  022016061195200108014
36214  5200108015  ...  022016061195200108015

[36215 rows x 23 columns]

In [ ]:
secciones_J16['CCA'].value_counts()

01    5927
09    5046
13    4341
07    3556
10    3470
12    2187
08    1953
16    1735
02    1448
05    1367
14    1232
11     966
03     868
04     653
15     562
06     468
17     338
18      54
19      44
Name: CCA, dtype: int64

Y finalmente con el de 2011.

In [ ]:
secciones_N11 = gpd.read_file('SECC_CE_20110101_03_R_INE.shp')

In [ ]:
secciones_N11['cod_sec'] = '022011111' + secciones_N11['CCA'] + secciones_N11['CUSEC']

In [ ]:
secciones_N11

       OBJECTID  ...                cod_sec
0           1.0  ...  022011111160100101001
1           2.0  ...  022011111160100101002
2           3.0  ...  022011111160100201001
3           4.0  ...  022011111160100201002
4           5.0  ...  022011111160100201003
...         ...  ...                    ...
35956   35958.0  ...  022011111195200108010
35957   35959.0  ...  022011111195200108011
35958   35960.0  ...  022011111195200108012
35959   35961.0  ...  022011111195200108013
35960   35962.0  ...  022011111195200108014

[35961 rows x 24 columns]

In [ ]:
secciones_N11['CCA'].value_counts()

01    5796
09    5019
13    4271
07    3538
10    3478
12    2249
08    1942
16    1739
02    1451
05    1330
14    1220
11     969
03     878
04     630
15     558
06     463
17     336
18      53
19      41
Name: CCA, dtype: int64

Bien, como habrá que buscar las secciones equivalentes a cada una, y en teoría todas son distintas, lo que hacemos en primer lugar es fusionar los datasets de las cinco shapelys.

In [ ]:
df_unif = secciones_A19.append(secciones_N19, ignore_index=True)

In [ ]:
df_unif = df_unif.append(secciones_J16, ignore_index=True)

In [ ]:
df_unif = df_unif.append(secciones_D15, ignore_index=True)

In [ ]:
df_unif = df_unif.append(secciones_N11, ignore_index=True)

In [ ]:
df_unif

        OBJECTID       CUSEC  ...   Shape_Le_1 Shape_Area
0            1.0  0100901001  ...          NaN        NaN
1            2.0  0101001002  ...          NaN        NaN
2            3.0  0103101001  ...          NaN        NaN
3            4.0  0103301001  ...          NaN        NaN
4            6.0  0103701001  ...          NaN        NaN
...          ...         ...  ...          ...        ...
181034   35958.0  5200108010  ...   868.395859        NaN
181035   35959.0  5200108011  ...  7347.338748        NaN
181036   35960.0  5200108012  ...  1571.615853        NaN
181037   35961.0  5200108013  ...  4691.060767        NaN
181038   35962.0  5200108014  ...   790.887241        NaN

[181039 rows x 27 columns]

Comprobamos que seguimos estando en un fichero shapely preguntado por la proyección.

In [ ]:
df_unif.crs

<Projected CRS: EPSG:25830>
Name: ETRS89 / UTM zone 30N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Europe between 6°W and 0°W: Faroe Islands offshore; Ireland - offshore; Jan Mayen - offshore; Norway including Svalbard - offshore; Spain - onshore and offshore.
- bounds: (-5.9999999999999, 35.265663028, 1.7053025658242e-13, 80.489344496333)
Coordinate Operation:
- name: UTM zone 30N
- method: Transverse Mercator
Datum: European Terrestrial Reference System 1989 ensemble
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

Hay muchos metadatos en los shapely que no nos serán útiles. Nos quedamos con los códigos de secciones y su definición geométrica.

In [ ]:
df_unif.columns

Index(['OBJECTID', 'CUSEC', 'CUMUN', 'CSEC', 'CDIS', 'CMUN', 'CPRO', 'CCA',
       'CUDIS', 'CLAU2', 'NPRO', 'NCA', 'CNUT0', 'CNUT1', 'CNUT2', 'CNUT3',
       'ESTADO', 'OBS', 'Shape_Leng', 'Shape_area', 'Shape_len', 'SUPERF_M2',
       'NMUN', 'geometry', 'cod_sec', 'Shape_Le_1', 'Shape_Area'],
      dtype='object')

In [ ]:
df_unif = df_unif[['cod_sec', 'CUSEC', 'CUMUN', 'CPRO', 'geometry']]

In [ ]:
df_unif

                      cod_sec  ...                                           geometry
0       022019041160100901001  ...  MULTIPOLYGON (((556453.835 4752758.332, 556460...
1       022019041160101001002  ...  POLYGON ((502035.230 4771813.197, 502048.071 4...
2       022019041160103101001  ...  MULTIPOLYGON (((538984.636 4718139.608, 538985...
3       022019041160103301001  ...  POLYGON ((537063.531 4703664.589, 536887.844 4...
4       022019041160103701001  ...  POLYGON ((551570.951 4739269.962, 551570.889 4...
...                       ...  ...                                                ...
181034  022011111195200108010  ...  POLYGON ((504318.195 3904957.402, 504318.033 3...
181035  022011111195200108011  ...  POLYGON ((503855.015 3905844.061, 503855.334 3...
181036  022011111195200108012  ...  POLYGON ((505731.785 3904249.139, 505637.515 3...
181037  022011111195200108013  ...  POLYGON ((506068.859 3903736.075, 506069.536 3...
181038  022011111195200108014  ...  POLYGON ((504042.428 3905477.470, 504038.593 3...

[181039 rows x 5 columns]

In [ ]:
df_unif.dtypes

cod_sec       object
CUSEC         object
CUMUN         object
CPRO          object
geometry    geometry
dtype: object

Ahora bien, para calcular la posición de una sección, la forma más cómoda es definir, o más bien calcular, su centroide. Geopandas tiene un método dedicado a ello. Creamos una nueva columna con este dato, que es simplememte un punto.

In [ ]:
from shapely.geometry import Polygon, LineString, Point

In [ ]:
df_unif['Centroide'] = df_unif['geometry'].centroid

/usr/local/lib/python3.7/dist-packages/geopandas/geodataframe.py:1345: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_unif

                      cod_sec  ...                       Centroide
0       022019041160100901001  ...  POINT (555853.735 4749228.022)
1       022019041160101001002  ...  POINT (500019.424 4771906.777)
2       022019041160103101001  ...  POINT (535052.148 4710767.820)
3       022019041160103301001  ...  POINT (535297.829 4704792.205)
4       022019041160103701001  ...  POINT (545408.849 4733097.078)
...                       ...  ...                             ...
181034  022011111195200108010  ...  POINT (504226.917 3904997.784)
181035  022011111195200108011  ...  POINT (503591.236 3905281.004)
181036  022011111195200108012  ...  POINT (505545.192 3904295.175)
181037  022011111195200108013  ...  POINT (506046.231 3903459.669)
181038  022011111195200108014  ...  POINT (503857.192 3905480.595)

[181039 rows x 6 columns]

Por comodidad creamos otra columna con el código que identifica la elección, siendo 02 una elección general, seguida del año y del mes.

In [ ]:
df_unif['Elección'] = df_unif['cod_sec'].str[0:8]

/usr/local/lib/python3.7/dist-packages/geopandas/geodataframe.py:1345: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_unif

                      cod_sec  ...  Elección
0       022019041160100901001  ...  02201904
1       022019041160101001002  ...  02201904
2       022019041160103101001  ...  02201904
3       022019041160103301001  ...  02201904
4       022019041160103701001  ...  02201904
...                       ...  ...       ...
181034  022011111195200108010  ...  02201111
181035  022011111195200108011  ...  02201111
181036  022011111195200108012  ...  02201111
181037  022011111195200108013  ...  02201111
181038  022011111195200108014  ...  02201111

[181039 rows x 7 columns]

Como ya vimos, la equivalencia de una sección X de una elección, porgamos 2015 en otra elección, 2016, será la sección de esta última elección que tenga un centroide más cercano al de X, siempre que esté en su mismo municipio o provincia.

Para calcular distancias Geopandas cuenta también con un método .distance().

Podemos ver un ejemplo de la distancia entre los centrioides de dos secciones, en este caso unos 520 kilómetros.

In [ ]:
a = df_unif['Centroide'][586]

In [ ]:
b = df_unif['Centroide'][10587]

In [ ]:
a.distance(b)

520189.72612155194

Tomamos ahora la sección de índice 10587, que es una de las elecciones de abril de 2019. Resulta ser del municipio de código 17062.

In [ ]:
secc = df_unif['cod_sec'][10587]
secc

'022019041091706201003'

In [ ]:
cent = df_unif['Centroide'][10587]

In [ ]:
mun = df_unif['CUMUN'][10587]
mun

'17062'

Ahora queremos buscar su equivalente en las elecciones de 2011. Buscamos las secciones de ese municipio en esa elección, y obtenemos un df, df_aux.

In [ ]:
elect = '02201111'

In [ ]:
df_aux = df_unif.loc[df_unif['Elección'] == elect].loc[df_unif['CUMUN'] == mun]

In [ ]:
df_aux

                      cod_sec  ...  Elección
157092  022011111091706201001  ...  02201111
157093  022011111091706201002  ...  02201111
157094  022011111091706201003  ...  02201111
157095  022011111091706201004  ...  02201111
157096  022011111091706201005  ...  02201111

[5 rows x 7 columns]

La sección equivalente será aquella cuyo centroide tenga la menor distancia con el centroide de la sección 10587, que es desde luego la de índice 157094.

In [ ]:
df_aux['dist'] = df_aux['Centroide'].apply(lambda x : x.distance(cent))

In [ ]:
df_aux

                      cod_sec       CUSEC  ...  Elección         dist
157092  022011111091706201001  1706201001  ...  02201111  2102.533307
157093  022011111091706201002  1706201002  ...  02201111  2733.288140
157094  022011111091706201003  1706201003  ...  02201111     0.541192
157095  022011111091706201004  1706201004  ...  02201111  2474.517126
157096  022011111091706201005  1706201005  ...  02201111  4142.634792

[5 rows x 8 columns]

In [ ]:
ind = df_aux['dist'].idxmin()
ind

157094

In [ ]:
sec = df_aux['cod_sec'][ind]
sec

'022011111091706201003'

Se trata de iterar este proceso que acabamos de ver a lo largo de todas las secciones de las cinco elecciones, unas 180 mil. Desde luego, la sección equivalente a una sección en su misma elección es ella misma.

Definimos una columna para almecenar las secciones más cercanas en una determinada elección.

In [ ]:
df_unif['cercana N11'] = ''
df_unif['cercana D15'] = ''
df_unif['cercana J16'] = ''
df_unif['cercana A19'] = ''
df_unif['cercana N19'] = ''

/usr/local/lib/python3.7/dist-packages/geopandas/geodataframe.py:1345: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_unif

                      cod_sec       CUSEC  ... cercana A19 cercana N19
0       022019041160100901001  0100901001  ...
1       022019041160101001002  0101001002  ...
2       022019041160103101001  0103101001  ...
3       022019041160103301001  0103301001  ...
4       022019041160103701001  0103701001  ...
...                       ...         ...  ...         ...         ...
181034  022011111195200108010  5200108010  ...
181035  022011111195200108011  5200108011  ...
181036  022011111195200108012  5200108012  ...
181037  022011111195200108013  5200108013  ...
181038  022011111195200108014  5200108014  ...

[181039 rows x 12 columns]

In [ ]:
secciones_N19.dtypes

OBJECTID         int64
CUSEC           object
CUMUN           object
CSEC            object
CDIS            object
CMUN            object
CPRO            object
CCA             object
CUDIS           object
CLAU2           object
NPRO            object
NCA             object
CNUT0           object
CNUT1           object
CNUT2           object
CNUT3           object
ESTADO          object
OBS             object
Shape_Leng     float64
Shape_area     float64
Shape_len      float64
SUPERF_M2        int64
NMUN            object
geometry      geometry
cod_sec         object
dtype: object

Tenemos que tener en cuenta que los municipios no son los mismos en cada elección, por lo que tenemos que saber cuales cambian, y aplicar en criterio de misma provincia.

En las celdas que siguen buscamos qué municipios son lo que no están en las cinco elecciones, y obtenemos sus códigos, algunos se han creado y otros han desaparecido; en total son 23. Hallamos sus códigos mediante una manipulación de sets.

In [ ]:
N19 = set(secciones_N19['CUMUN'])

In [ ]:
len(N19)

8131

In [ ]:
N19

{'37128',
 '07039',
 '47169',
 '04053',
 '21060',
 '16094',
 '22217',
 '05069',
 '12060',
 '24175',
 '34010',
 '23069',
 '42115',
 '10142',
 '04022',
 '19267',
 '47060',
 '42145',
 '25093',
 '26052',
 '13062',
 '35033',
 '28030',
 '08021',
 '16250',
 '13029',
 '37165',
 '46183',
 '16145',
 '10073',
 '49267',
 '14055',
 '17018',
 '10027',
 '09277',
 '10082',
 '04023',
 '18069',
 '16177',
 '40204',
 '03055',
 '19306',
 '37302',
 '25132',
 '50175',
 '44017',
 '37252',
 '04071',
 '31065',
 '26003',
 '49171',
 '15012',
 '07060',
 '48036',
 '12138',
 '37251',
 '39079',
 '50082',
 '11039',
 '49031',
 '09072',
 '26088',
 '31194',
 '16265',
 '18111',
 '18035',
 '24021',
 '14062',
 '31076',
 '08120',
 '10034',
 '33035',
 '18056',
 '35019',
 '40054',
 '50205',
 '44241',
 '12117',
 '20007',
 '10018',
 '08014',
 '09414',
 '10011',
 '05154',
 '40219',
 '22042',
 '10214',
 '43124',
 '41047',
 '03119',
 '09424',
 '02078',
 '10196',
 '40107',
 '13073',
 '22908',
 '29008',
 '25247',
 '37361',
 '09329',
 '25141',
 '49068',
 '10139',
 '03127',
 '43176',
 '42156',
 '37352',
 '25105',
 '46234',
 '05178',
 '02067',
 '10152',
 '19223',
 '37262',
 '13089',
 '16005',
 '42020',
 '46023',
 '16113',
 '45123',
 '44222',
 '19323',
 '05210',
 '40125',
 '19279',
 '08092',
 '19154',
 '34019',
 '04006',
 '13046',
 '37055',
 '37024',
 '44187',
 '42124',
 '43041',
 '36015',
 '28153',
 '44137',
 '09119',
 '15058',
 '39048',
 '19153',
 '23019',
 '28011',
 '46122',
 '17090',
 '16258',
 '42024',
 '17144',
 '02074',
 '24103',
 '18024',
 '40004',
 '33045',
 '50250',
 '46091',
 '49037',
 '49131',
 '09275',
 '37054',
 '09267',
 '04081',
 '16130',
 '34168',
 '09168',
 '29019',
 '46125',
 '25094',
 '49176',
 '26140',
 '09366',
 '36040',
 '06147',
 '08034',
 '40225',
 '05175',
 '39094',
 '06028',
 '09335',
 '33058',
 '37145',
 '35032',
 '02029',
 '28117',
 '18905',
 '46060',
 '40052',
 '09197',
 '22135',
 '44106',
 '19282',
 '45179',
 '25092',
 '40178',
 '45165',
 '25121',
 '05123',
 '34240',
 '49097',
 '24151',
 '05013',
 '06039',
 '10006',
 '15076',
 '44230',
 '49263',
 '08296',
 '18066',
 '08263',
 '36060',
 '28138',
 '03112',
 '19314',
 '09039',
 '21003',
 '24211',
 '09251',
 '50171',
 '27016',
 '40182',
 '46054',
 '28065',
 '43059',
 '27061',
 '22036',
 '24097',
 '40196',
 '48065',
 '50190',
 '34087',
 '05183',
 '29903',
 '34246',
 '28029',
 '46077',
 '47141',
 '28079',
 '13044',
 '18042',
 '22137',
 '26082',
 '50052',
 '02010',
 '10001',
 '19044',
 '09123',
 '19302',
 '16003',
 '29100',
 '24009',
 '21053',
 '45099',
 '05033',
 '09386',
 '07002',
 '42023',
 '47074',
 '26147',
 '49036',
 '49122',
 '34098',
 '41082',
 '05184',
 '34017',
 '49271',
 '46220',
 '37358',
 '26035',
 '20071',
 '08072',
 '49044',
 '45182',
 '31102',
 '19309',
 '47088',
 '16087',
 '08128',
 '45120',
 '46030',
 '17099',
 '30018',
 '05047',
 '29088',
 '37212',
 '49192',
 '29046',
 '28110',
 '44071',
 '50079',
 '19103',
 '41019',
 '48048',
 '08276',
 '19222',
 '31195',
 '20044',
 '22035',
 '24005',
 '34238',
 '37010',
 '49166',
 '09231',
 '05051',
 '04096',
 '43102',
 '34113',
 '47091',
 '05052',
 '44008',
 '50901',
 '44084',
 '26151',
 '47206',
 '41028',
 '10048',
 '09229',
 '05225',
 '09276',
 '10075',
 '05161',
 '26014',
 '37260',
 '22226',
 '40905',
 '25009',
 '03037',
 '18044',
 '19098',
 '10007',
 '44024',
 '10194',
 '31188',
 '47152',
 '32071',
 '21067',
 '31903',
 '22222',
 '50107',
 '47179',
 '22060',
 '45038',
 '44199',
 '47148',
 '22032',
 '02080',
 '37369',
 '17162',
 '49091',
 '13015',
 '45148',
 '35010',
 '18179',
 '43021',
 '43054',
 '07048',
 '06015',
 '41089',
 '20013',
 '45031',
 '13010',
 '31259',
 '28109',
 '13023',
 '37351',
 '48908',
 '41077',
 '05092',
 '22041',
 '12001',
 '06031',
 '02070',
 '28010',
 '28027',
 '11001',
 '34135',
 '43035',
 '26062',
 '26023',
 '31206',
 '37317',
 '41025',
 '09460',
 '09133',
 '29049',
 '39060',
 '48021',
 '30902',
 '41031',
 '43096',
 '18143',
 '45117',
 '37099',
 '10154',
 '19269',
 '46143',
 '27019',
 '50258',
 '17150',
 '40110',
 '38046',
 '24115',
 '37114',
 '50090',
 '32043',
 '23067',
 '19327',
 '22018',
 '31026',
 '22133',
 '09250',
 '40174',
 '16152',
 '35034',
 '31009',
 '34041',
 '43043',
 '25150',
 '17110',
 '44217',
 '50108',
 '05262',
 '09127',
 '25097',
 '29071',
 '09182',
 '08226',
 '17164',
 '18098',
 '31004',
 '44190',
 '43044',
 '47226',
 '19219',
 '49238',
 '49075',
 '34039',
 '40119',
 '10025',
 '39071',
 '49162',
 '37228',
 '28141',
 '37162',
 '18180',
 '37021',
 '45086',
 '47090',
 '24123',
 '19089',
 '42012',
 '09439',
 '22040',
 '16140',
 '49272',
 '31207',
 '13065',
 '09011',
 '42009',
 '47081',
 '29030',
 '10111',
 '34058',
 '44025',
 '50129',
 '46008',
 '22151',
 '10095',
 '12043',
 '16115',
 '46048',
 '02039',
 '16205',
 '42216',
 '20030',
 '09258',
 '09338',
 '40129',
 '32077',
 '32044',
 '49160',
 '19178',
 '02014',
 '17003',
 '06009',
 '43025',
 '24181',
 '19124',
 '36019',
 '47188',
 '43083',
 '44123',
 '44169',
 '31238',
 '36022',
 '12093',
 '04068',
 '08053',
 '24071',
 '25201',
 '12114',
 '42087',
 '22213',
 '46063',
 '15006',
 '37214',
 '43040',
 '08298',
 '03124',
 '18911',
 '37376',
 '19146',
 '24129',
 '10208',
 '09428',
 '45174',
 '24102',
 '31035',
 '10004',
 '09368',
 '08244',
 '02066',
 '33043',
 '49101',
 '46146',
 '10140',
 '08217',
 '31219',
 '50213',
 '46238',
 '19326',
 '46215',
 '34052',
 '18184',
 '08131',
 '25906',
 '05021',
 '43154',
 '16097',
 '33067',
 '05160',
 '38052',
 '50096',
 '26091',
 '24196',
 '47153',
 '21054',
 '05080',
 '09114',
 '27025',
 '32039',
 '34136',
 '31220',
 '05182',
 '20017',
 '43158',
 '44003',
 '29081',
 '13034',
 '06073',
 '43068',
 '43135',
 '50033',
 '08215',
 '08242',
 '08255',
 '12014',
 '08089',
 '02018',
 '37176',
 '06112',
 '19002',
 '42111',
 '45172',
 '49164',
 '45018',
 '19244',
 '35013',
 '33009',
 '44040',
 '17191',
 '18161',
 '09244',
 '15052',
 '50149',
 '18101',
 '06063',
 '17902',
 '42160',
 '43001',
 '04012',
 '15064',
 '40089',
 '10127',
 '16045',
 '17098',
 '50045',
 '22087',
 '06059',
 '45010',
 '06145',
 '46071',
 '45147',
 '39056',
 '09219',
 '45105',
 '18912',
 '09183',
 '16052',
 '12011',
 '43014',
 '49142',
 '41090',
 '06071',
 '37340',
 '42113',
 '20064',
 '43005',
 '45089',
 '08181',
 '08020',
 '34051',
 '31132',
 '50230',
 '50268',
 '37255',
 '20041',
 '08280',
 '37143',
 '45036',
 '24224',
 '50114',
 '45199',
 '33051',
 '26028',
 '05043',
 '02025',
 '18014',
 '44185',
 '25156',
 '37223',
 '08205',
 '47209',
 '04050',
 '19293',
 '10170',
 '20059',
 '08261',
 '46191',
 '12080',
 '25100',
 '23073',
 '34167',
 '46007',
 '45001',
 '10026',
 '18010',
 '40039',
 '22003',
 '25151',
 '16034',
 '37197',
 '25143',
 '08180',
 '12129',
 '47084',
 '09427',
 '47158',
 '05034',
 '16209',
 '49227',
 '29080',
 '37333',
 '45076',
 '10211',
 '14065',
 '47168',
 '10091',
 '22207',
 '45095',
 '09086',
 '16266',
 '19324',
 '39099',
 '26084',
 '45020',
 '17016',
 '02053',
 '05117',
 '10030',
 '26150',
 '18006',
 '43162',
 '17011',
 '31006',
 '10038',
 '17085',
 '50146',
 '43088',
 '28181',
 '21068',
 '40105',
 '16245',
 '10103',
 '24124',
 '13013',
 '42127',
 '25182',
 '06076',
 '17022',
 '41043',
 '37146',
 '10218',
 '45093',
 '34012',
 '25079',
 '50239',
 '20061',
 '40108',
 '24022',
 '16111',
 '44141',
 '24223',
 '49134',
 '50291',
 '27034',
 '50196',
 '17159',
 '46012',
 '14060',
 '08024',
 '43062',
 '43134',
 '08037',
 '19213',
 '34129',
 '20034',
 '19325',
 '19274',
 '22115',
 '46002',
 '45127',
 '50070',
 '09228',
 '47025',
 '16199',
 '01018',
 '03115',
 '03134',
 '47181',
 '24025',
 '19018',
 '19024',
 '13027',
 '12140',
 '09211',
 '35028',
 '44208',
 '46163',
 '50200',
 '41027',
 '42046',
 '05187',
 '44039',
 '31109',
 '03049',
 '18064',
 '44219',
 '09181',
 '16278',
 '47105',
 '18116',
 '26158',
 '45049',
 '05158',
 '50207',
 '15054',
 '25193',
 '32032',
 '23017',
 '17125',
 '42173',
 '03044',
 '05019',
 '46251',
 '22193',
 '44240',
 '16165',
 '22249',
 '07034',
 '19073',
 '09213',
 '21057',
 '45140',
 '47151',
 '08236',
 '17111',
 '15005',
 '17021',
 '49090',
 '29003',
 '31121',
 '34023',
 '43093',
 '05141',
 '50081',
 '45195',
 '08146',
 '37192',
 '46151',
 '46207',
 '26171',
 '16156',
 '42062',
 '50286',
 '45053',
 '10005',
 '24216',
 '37312',
 '43126',
 '44070',
 '49132',
 '50263',
 '26047',
 '24141',
 '29042',
 '18027',
 '08259',
 '37080',
 '31245',
 '22190',
 '26160',
 '15004',
 '23011',
 '41021',
 '08222',
 '05074',
 '10115',
 '19145',
 '09266',
 '22195',
 '09288',
 '12024',
 '26061',
 '37283',
 '17089',
 '19053',
 '35001',
 '41062',
 '47079',
 '37040',
 '09238',
 '02082',
 '48062',
 '39102',
 '46244',
 '22044',
 '08005',
 '41069',
 '46016',
 '49135',
 '44266',
 '08137',
 '40207',
 '18112',
 '11002',
 '47123',
 '05036',
 '19307',
 '37363',
 '28120',
 '06134',
 '07044',
 '34114',
 '40902',
 '18123',
 '17015',
 '19197',
 '47065',
 '47106',
 '41061',
 '18127',
 '08904',
 '10116',
 '37301',
 '44146',
 '32042',
 '33012',
 '24059',
 '49241',
 '32019',
 '33062',
 '17165',
 '09215',
 '16237',
 '45091',
 '28036',
 '06096',
 '24065',
 '29093',
 '47070',
 '29021',
 '08245',
 '02038',
 '47036',
 '37298',
 '06125',
 '22141',
 '06061',
 '05172',
 '44036',
 '29038',
 '50151',
 '17066',
 '22901',
 '48052',
 '29048',
 '49255',
 '50266',
 '24068',
 '07026',
 '10010',
 '17035',
 '22228',
 '44211',
 '43065',
 '12022',
 '34169',
 '42118',
 '18183',
 '45169',
 '49168',
 '31255',
 '28050',
 '48097',
 '37199',
 '40022',
 '49020',
 '37175',
 '46152',
 '27066',
 '15070',
 '43170',
 '42100',
 '46059',
 '08273',
 '42088',
 '48063',
 '04090',
 '34177',
 '01057',
 '43109',
 '22167',
 '31058',
 '34904',
 '50061',
 '40202',
 '44156',
 '44088',
 '44082',
 '24176',
 '46050',
 '26101',
 '44087',
 '46136',
 '03058',
 '47214',
 '41064',
 '44010',
 '10172',
 '45145',
 '09179',
 '28124',
 '43090',
 '43129',
 '41049',
 '31008',
 '49219',
 '14041',
 '36029',
 '48907',
 '25145',
 '09373',
 '47022',
 '43016',
 '12049',
 '09438',
 '37257',
 '49222',
 '50162',
 '09109',
 '24012',
 '31257',
 '46056',
 '20014',
 '05121',
 '05902',
 '22252',
 '03063',
 '29044',
 '37026',
 ...}

In [ ]:
N11 = set(secciones_N11['CUMUN'])

In [ ]:
len(N11)

8116

In [ ]:
dif = N19.difference(N11)

In [ ]:
len(dif)

19

In [ ]:
dif

{'04904',
 '06903',
 '10904',
 '10905',
 '11903',
 '14901',
 '14902',
 '15902',
 '18065',
 '18077',
 '18106',
 '18914',
 '18915',
 '18916',
 '21902',
 '29903',
 '29904',
 '36902',
 '41904'}

In [ ]:
dif1 = N11.difference(N19)

In [ ]:
dif1

{'15026', '15063', '36011', '36012'}

In [ ]:
'04904' not in dif

False

In [ ]:
dif = dif.union(dif1)

In [ ]:
len(dif)

23

Ahora lo que hacemos es crear un objeto groupby mediante el código de municipio y la elección, que hará mucho más eficiente el proceso de encontrar las secciones equivalentes.

Como habrá unos pocos casos que tendremos que usar la provincia, creamos un objeto gruopby análogo con las provincias.

In [ ]:
grouped = df_unif.groupby(["CUMUN", "Elección"])

In [ ]:
grouped.groups

{('01001', '02201111'): [145078, 145079], ('01001', '02201512'): [108849, 108850], ('01001', '02201606'): [72634, 72635], ('01001', '02201904'): [32923, 32961], ('01001', '02201911'): [69240, 69278], ('01002', '02201111'): [145080, 145081, 145082, 145083, 145084, 145085, 145086], ('01002', '02201512'): [108851, 108852, 108853, 108854, 108855, 108856, 108857], ('01002', '02201606'): [72636, 72637, 72638, 72639, 72640, 72641, 72642], ('01002', '02201904'): [11, 13, 20, 21, 38, 39, 48], ('01002', '02201911'): [36328, 36330, 36337, 36338, 36355, 36356, 36365], ('01003', '02201111'): [145087], ('01003', '02201512'): [108858], ('01003', '02201606'): [72643], ('01003', '02201904'): [49], ('01003', '02201911'): [36366], ('01004', '02201111'): [145088], ('01004', '02201512'): [108859], ('01004', '02201606'): [72644], ('01004', '02201904'): [12], ('01004', '02201911'): [36329], ('01006', '02201111'): [145089], ('01006', '02201512'): [108860], ('01006', '02201606'): [72645], ('01006', '02201904'): [50], ('01006', '02201911'): [36367], ('01008', '02201111'): [145090], ('01008', '02201512'): [108861], ('01008', '02201606'): [72646], ('01008', '02201904'): [6], ('01008', '02201911'): [36323], ('01009', '02201111'): [145091], ('01009', '02201512'): [108862], ('01009', '02201606'): [72647], ('01009', '02201904'): [0], ('01009', '02201911'): [36317], ('01010', '02201111'): [145092, 145093], ('01010', '02201512'): [108863, 108864], ('01010', '02201606'): [72648, 72649], ('01010', '02201904'): [1, 7], ('01010', '02201911'): [36318, 36324], ('01011', '02201111'): [145094], ('01011', '02201512'): [108865], ('01011', '02201606'): [72650], ('01011', '02201904'): [27], ('01011', '02201911'): [36344], ('01013', '02201111'): [145095], ('01013', '02201512'): [108866], ('01013', '02201606'): [72651], ('01013', '02201904'): [30], ('01013', '02201911'): [36347], ('01014', '02201111'): [145096], ('01014', '02201512'): [108867], ('01014', '02201606'): [72652], ('01014', '02201904'): [28], ('01014', '02201911'): [36345], ('01016', '02201111'): [145097], ('01016', '02201512'): [108868], ('01016', '02201606'): [72653], ('01016', '02201904'): [14], ('01016', '02201911'): [36331], ('01017', '02201111'): [145098], ('01017', '02201512'): [108869], ('01017', '02201606'): [72654], ('01017', '02201904'): [40], ('01017', '02201911'): [36357], ('01018', '02201111'): [145099], ('01018', '02201512'): [108870], ('01018', '02201606'): [72655], ('01018', '02201904'): [41], ('01018', '02201911'): [36358], ('01019', '02201111'): [145100], ('01019', '02201512'): [108871], ('01019', '02201606'): [72656], ('01019', '02201904'): [22], ('01019', '02201911'): [36339], ('01020', '02201111'): [145101], ('01020', '02201512'): [108872], ('01020', '02201606'): [72657], ('01020', '02201904'): [23], ('01020', '02201911'): [36340], ('01021', '02201111'): [145102], ('01021', '02201512'): [108873], ('01021', '02201606'): [72658], ('01021', '02201904'): [42], ('01021', '02201911'): [36359], ('01022', '02201111'): [145103], ('01022', '02201512'): [108874], ('01022', '02201606'): [72659], ('01022', '02201904'): [29], ('01022', '02201911'): [36346], ('01023', '02201111'): [145104], ('01023', '02201512'): [108875], ('01023', '02201606'): [72660], ('01023', '02201904'): [15], ('01023', '02201911'): [36332], ('01027', '02201111'): [145105], ('01027', '02201512'): [108876], ('01027', '02201606'): [72661], ('01027', '02201904'): [59], ('01027', '02201911'): [36376], ...}

In [ ]:
grouped['cod_sec']

In [ ]:
a = grouped['Centroide']

In [ ]:
grouped.get_group(('01001', '02201111'))

                      cod_sec       CUSEC  ... cercana A19 cercana N19
145078  022011111160100101001  0100101001  ...
145079  022011111160100101002  0100101002  ...

[2 rows x 12 columns]

In [ ]:
grouped_prov = df_unif.groupby(["CPRO", "Elección"])

In [ ]:
grouped_prov.groups

{('01', '02201111'): [145078, 145079, 145080, 145081, 145082, 145083, 145084, 145085, 145086, 145087, 145088, 145089, 145090, 145091, 145092, 145093, 145094, 145095, 145096, 145097, 145098, 145099, 145100, 145101, 145102, 145103, 145104, 145105, 145106, 145107, 145108, 145109, 145110, 145111, 145112, 145113, 145114, 145115, 145116, 145117, 145118, 145119, 145120, 145121, 145122, 145123, 145124, 145125, 145126, 145127, 145128, 145129, 145130, 145131, 145132, 145133, 145134, 145135, 145136, 145137, 145138, 145139, 145140, 145141, 145142, 145143, 145144, 145145, 145146, 145147, 145148, 145149, 145150, 145151, 145152, 145153, 145154, 145155, 145156, 145157, 145158, 145159, 145160, 145161, 145162, 145163, 145164, 145165, 145166, 145167, 145168, 145169, 145170, 145171, 145172, 145173, 145174, 145175, 145176, 145177, ...], ('01', '02201512'): [108849, 108850, 108851, 108852, 108853, 108854, 108855, 108856, 108857, 108858, 108859, 108860, 108861, 108862, 108863, 108864, 108865, 108866, 108867, 108868, 108869, 108870, 108871, 108872, 108873, 108874, 108875, 108876, 108877, 108878, 108879, 108880, 108881, 108882, 108883, 108884, 108885, 108886, 108887, 108888, 108889, 108890, 108891, 108892, 108893, 108894, 108895, 108896, 108897, 108898, 108899, 108900, 108901, 108902, 108903, 108904, 108905, 108906, 108907, 108908, 108909, 108910, 108911, 108912, 108913, 108914, 108915, 108916, 108917, 108918, 108919, 108920, 108921, 108922, 108923, 108924, 108925, 108926, 108927, 108928, 108929, 108930, 108931, 108932, 108933, 108934, 108935, 108936, 108937, 108938, 108939, 108940, 108941, 108942, 108943, 108944, 108945, 108946, 108947, 108948, ...], ('01', '02201606'): [72634, 72635, 72636, 72637, 72638, 72639, 72640, 72641, 72642, 72643, 72644, 72645, 72646, 72647, 72648, 72649, 72650, 72651, 72652, 72653, 72654, 72655, 72656, 72657, 72658, 72659, 72660, 72661, 72662, 72663, 72664, 72665, 72666, 72667, 72668, 72669, 72670, 72671, 72672, 72673, 72674, 72675, 72676, 72677, 72678, 72679, 72680, 72681, 72682, 72683, 72684, 72685, 72686, 72687, 72688, 72689, 72690, 72691, 72692, 72693, 72694, 72695, 72696, 72697, 72698, 72699, 72700, 72701, 72702, 72703, 72704, 72705, 72706, 72707, 72708, 72709, 72710, 72711, 72712, 72713, 72714, 72715, 72716, 72717, 72718, 72719, 72720, 72721, 72722, 72723, 72724, 72725, 72726, 72727, 72728, 72729, 72730, 72731, 72732, 72733, ...], ('01', '02201904'): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], ('01', '02201911'): [36317, 36318, 36319, 36320, 36321, 36322, 36323, 36324, 36325, 36326, 36327, 36328, 36329, 36330, 36331, 36332, 36333, 36334, 36335, 36336, 36337, 36338, 36339, 36340, 36341, 36342, 36343, 36344, 36345, 36346, 36347, 36348, 36349, 36350, 36351, 36352, 36353, 36354, 36355, 36356, 36357, 36358, 36359, 36360, 36361, 36362, 36363, 36364, 36365, 36366, 36367, 36368, 36369, 36370, 36371, 36372, 36373, 36374, 36375, 36376, 36377, 36378, 36379, 36380, 36381, 36382, 36383, 36384, 36385, 36386, 36387, 36388, 36389, 36390, 36391, 36392, 36393, 36394, 36395, 36396, 36397, 36398, 36399, 36400, 36401, 36402, 36403, 36404, 36405, 36406, 36407, 36408, 36409, 36410, 36411, 36412, 36413, 36414, 36415, 36416, ...], ('02', '02201111'): [145343, 145344, 145345, 145346, 145347, 145348, 145349, 145350, 145351, 145352, 145353, 145354, 145355, 145356, 145357, 145358, 145359, 145360, 145361, 145362, 145363, 145364, 145365, 145366, 145367, 145368, 145369, 145370, 145371, 145372, 145373, 145374, 145375, 145376, 145377, 145378, 145379, 145380, 145381, 145382, 145383, 145384, 145385, 145386, 145387, 145388, 145389, 145390, 145391, 145392, 145393, 145394, 145395, 145396, 145397, 145398, 145399, 145400, 145401, 145402, 145403, 145404, 145405, 145406, 145407, 145408, 145409, 145410, 145411, 145412, 145413, 145414, 145415, 145416, 145417, 145418, 145419, 145420, 145421, 145422, 145423, 145424, 145425, 145426, 145427, 145428, 145429, 145430, 145431, 145432, 145433, 145434, 145435, 145436, 145437, 145438, 145439, 145440, 145441, 145442, ...], ('02', '02201512'): [109110, 109111, 109112, 109113, 109114, 109115, 109116, 109117, 109118, 109119, 109120, 109121, 109122, 109123, 109124, 109125, 109126, 109127, 109128, 109129, 109130, 109131, 109132, 109133, 109134, 109135, 109136, 109137, 109138, 109139, 109140, 109141, 109142, 109143, 109144, 109145, 109146, 109147, 109148, 109149, 109150, 109151, 109152, 109153, 109154, 109155, 109156, 109157, 109158, 109159, 109160, 109161, 109162, 109163, 109164, 109165, 109166, 109167, 109168, 109169, 109170, 109171, 109172, 109173, 109174, 109175, 109176, 109177, 109178, 109179, 109180, 109181, 109182, 109183, 109184, 109185, 109186, 109187, 109188, 109189, 109190, 109191, 109192, 109193, 109194, 109195, 109196, 109197, 109198, 109199, 109200, 109201, 109202, 109203, 109204, 109205, 109206, 109207, 109208, 109209, ...], ('02', '02201606'): [72895, 72896, 72897, 72898, 72899, 72900, 72901, 72902, 72903, 72904, 72905, 72906, 72907, 72908, 72909, 72910, 72911, 72912, 72913, 72914, 72915, 72916, 72917, 72918, 72919, 72920, 72921, 72922, 72923, 72924, 72925, 72926, 72927, 72928, 72929, 72930, 72931, 72932, 72933, 72934, 72935, 72936, 72937, 72938, 72939, 72940, 72941, 72942, 72943, 72944, 72945, 72946, 72947, 72948, 72949, 72950, 72951, 72952, 72953, 72954, 72955, 72956, 72957, 72958, 72959, 72960, 72961, 72962, 72963, 72964, 72965, 72966, 72967, 72968, 72969, 72970, 72971, 72972, 72973, 72974, 72975, 72976, 72977, 72978, 72979, 72980, 72981, 72982, 72983, 72984, 72985, 72986, 72987, 72988, 72989, 72990, 72991, 72992, 72993, 72994, ...], ('02', '02201904'): [152, 160, 177, 178, 179, 180, 181, 187, 188, 189, 190, 191, 192, 193, 197, 198, 199, 200, 201, 202, 203, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, ...], ('02', '02201911'): [36469, 36477, 36494, 36495, 36496, 36497, 36498, 36504, 36505, 36506, 36507, 36508, 36509, 36510, 36514, 36515, 36516, 36517, 36518, 36519, 36520, 36525, 36526, 36527, 36528, 36529, 36530, 36531, 36532, 36533, 36534, 36535, 36536, 36537, 36538, 36539, 36540, 36541, 36542, 36543, 36544, 36545, 36546, 36547, 36548, 36549, 36550, 36551, 36552, 36553, 36554, 36555, 36556, 36557, 36558, 36559, 36560, 36561, 36562, 36563, 36564, 36565, 36566, 36567, 36568, 36569, 36570, 36571, 36572, 36573, 36574, 36575, 36576, 36577, 36578, 36579, 36580, 36581, 36582, 36583, 36584, 36585, 36586, 36587, 36588, 36589, 36590, 36591, 36592, 36593, 36594, 36595, 36596, 36597, 36598, 36599, 36600, 36601, 36602, 36603, ...], ('03', '02201111'): [145643, 145644, 145645, 145646, 145647, 145648, 145649, 145650, 145651, 145652, 145653, 145654, 145655, 145656, 145657, 145658, 145659, 145660, 145661, 145662, 145663, 145664, 145665, 145666, 145667, 145668, 145669, 145670, 145671, 145672, 145673, 145674, 145675, 145676, 145677, 145678, 145679, 145680, 145681, 145682, 145683, 145684, 145685, 145686, 145687, 145688, 145689, 145690, 145691, 145692, 145693, 145694, 145695, 145696, 145697, 145698, 145699, 145700, 145701, 145702, 145703, 145704, 145705, 145706, 145707, 145708, 145709, 145710, 145711, 145712, 145713, 145714, 145715, 145716, 145717, 145718, 145719, 145720, 145721, 145722, 145723, 145724, 145725, 145726, 145727, 145728, 145729, 145730, 145731, 145732, 145733, 145734, 145735, 145736, 145737, 145738, 145739, 145740, 145741, 145742, ...], ('03', '02201512'): [109412, 109413, 109414, 109415, 109416, 109417, 109418, 109419, 109420, 109421, 109422, 109423, 109424, 109425, 109426, 109427, 109428, 109429, 109430, 109431, 109432, 109433, 109434, 109435, 109436, 109437, 109438, 109439, 109440, 109441, 109442, 109443, 109444, 109445, 109446, 109447, 109448, 109449, 109450, 109451, 109452, 109453, 109454, 109455, 109456, 109457, 109458, 109459, 109460, 109461, 109462, 109463, 109464, 109465, 109466, 109467, 109468, 109469, 109470, 109471, 109472, 109473, 109474, 109475, 109476, 109477, 109478, 109479, 109480, 109481, 109482, 109483, 109484, 109485, 109486, 109487, 109488, 109489, 109490, 109491, 109492, 109493, 109494, 109495, 109496, 109497, 109498, 109499, 109500, 109501, 109502, 109503, 109504, 109505, 109506, 109507, 109508, 109509, 109510, 109511, ...], ('03', '02201606'): [73196, 73197, 73198, 73199, 73200, 73201, 73202, 73203, 73204, 73205, 73206, 73207, 73208, 73209, 73210, 73211, 73212, 73213, 73214, 73215, 73216, 73217, 73218, 73219, 73220, 73221, 73222, 73223, 73224, 73225, 73226, 73227, 73228, 73229, 73230, 73231, 73232, 73233, 73234, 73235, 73236, 73237, 73238, 73239, 73240, 73241, 73242, 73243, 73244, 73245, 73246, 73247, 73248, 73249, 73250, 73251, 73252, 73253, 73254, 73255, 73256, 73257, 73258, 73259, 73260, 73261, 73262, 73263, 73264, 73265, 73266, 73267, 73268, 73269, 73270, 73271, 73272, 73273, 73274, 73275, 73276, 73277, 73278, 73279, 73280, 73281, 73282, 73283, 73284, 73285, 73286, 73287, 73288, 73289, 73290, 73291, 73292, 73293, 73294, 73295, ...], ('03', '02201904'): [434, 435, 439, 440, 462, 463, 464, 465, 467, 468, 476, 477, 478, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, ...], ('03', '02201911'): [36751, 36752, 36756, 36757, 36779, 36780, 36781, 36782, 36784, 36785, 36793, 36794, 36795, 36798, 36799, 36800, 36801, 36802, 36803, 36804, 36805, 36806, 36807, 36808, 36809, 36810, 36811, 36812, 36813, 36814, 36815, 36816, 36817, 36818, 36819, 36820, 36821, 36822, 36823, 36824, 36825, 36826, 36827, 36828, 36829, 36830, 36831, 36832, 36833, 36834, 36835, 36836, 36837, 36838, 36839, 36840, 36841, 36842, 36843, 36844, 36845, 36846, 36847, 36848, 36849, 36850, 36851, 36852, 36853, 36854, 36855, 36856, 36857, 36858, 36859, 36860, 36861, 36862, 36863, 36864, 36865, 36866, 36867, 36868, 36869, 36870, 36871, 36872, 36873, 36874, 36875, 36876, 36877, 36878, 36879, 36880, 36881, 36882, 36883, 36884, ...], ('04', '02201111'): [146875, 146876, 146877, 146878, 146879, 146880, 146881, 146882, 146883, 146884, 146885, 146886, 146887, 146888, 146889, 146890, 146891, 146892, 146893, 146894, 146895, 146896, 146897, 146898, 146899, 146900, 146901, 146902, 146903, 146904, 146905, 146906, 146907, 146908, 146909, 146910, 146911, 146912, 146913, 146914, 146915, 146916, 146917, 146918, 146919, 146920, 146921, 146922, 146923, 146924, 146925, 146926, 146927, 146928, 146929, 146930, 146931, 146932, 146933, 146934, 146935, 146936, 146937, 146938, 146939, 146940, 146941, 146942, 146943, 146944, 146945, 146946, 146947, 146948, 146949, 146950, 146951, 146952, 146953, 146954, 146955, 146956, 146957, 146958, 146959, 146960, 146961, 146962, 146963, 146964, 146965, 146966, 146967, 146968, 146969, 146970, 146971, 146972, 146973, 146974, ...], ('04', '02201512'): [110634, 110635, 110636, 110637, 110638, 110639, 110640, 110641, 110642, 110643, 110644, 110645, 110646, 110647, 110648, 110649, 110650, 110651, 110652, 110653, 110654, 110655, 110656, 110657, 110658, 110659, 110660, 110661, 110662, 110663, 110664, 110665, 110666, 110667, 110668, 110669, 110670, 110671, 110672, 110673, 110674, 110675, 110676, 110677, 110678, 110679, 110680, 110681, 110682, 110683, 110684, 110685, 110686, 110687, 110688, 110689, 110690, 110691, 110692, 110693, 110694, 110695, 110696, 110697, 110698, 110699, 110700, 110701, 110702, 110703, 110704, 110705, 110706, 110707, 110708, 110709, 110710, 110711, 110712, 110713, 110714, 110715, 110716, 110717, 110718, 110719, 110720, 110721, 110722, 110723, 110724, 110725, 110726, 110727, 110728, 110729, 110730, 110731, 110732, 110733, ...], ('04', '02201606'): [74418, 74419, 74420, 74421, 74422, 74423, 74424, 74425, 74426, 74427, 74428, 74429, 74430, 74431, 74432, 74433, 74434, 74435, 74436, 74437, 74438, 74439, 74440, 74441, 74442, 74443, 74444, 74445, 74446, 74447, 74448, 74449, 74450, 74451, 74452, 74453, 74454, 74455, 74456, 74457, 74458, 74459, 74460, 74461, 74462, 74463, 74464, 74465, 74466, 74467, 74468, 74469, 74470, 74471, 74472, 74473, 74474, 74475, 74476, 74477, 74478, 74479, 74480, 74481, 74482, 74483, 74484, 74485, 74486, 74487, 74488, 74489, 74490, 74491, 74492, 74493, 74494, 74495, 74496, 74497, 74498, 74499, 74500, 74501, 74502, 74503, 74504, 74505, 74506, 74507, 74508, 74509, 74510, 74511, 74512, 74513, 74514, 74515, 74516, 74517, ...], ('04', '02201904'): [1618, 1626, 1633, 1634, 1635, 1636, 1638, 1639, 1640, 1641, 1648, 1649, 1650, 1655, 1656, 1657, 1658, 1659, 1660, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, ...], ('04', '02201911'): [37935, 37943, 37950, 37951, 37952, 37953, 37955, 37956, 37957, 37958, 37965, 37966, 37967, 37972, 37973, 37974, 37975, 37976, 37977, 37982, 37983, 37984, 37985, 37986, 37987, 37988, 37989, 37990, 37991, 37992, 37993, 37994, 37995, 37996, 37997, 37998, 37999, 38000, 38001, 38002, 38003, 38004, 38005, 38006, 38007, 38008, 38009, 38010, 38011, 38012, 38013, 38014, 38015, 38016, 38017, 38018, 38019, 38020, 38021, 38022, 38023, 38024, 38025, 38026, 38027, 38028, 38029, 38030, 38031, 38032, 38033, 38034, 38035, 38040, 38041, 38042, 38043, 38044, 38045, 38046, 38047, 38048, 38049, 38050, 38051, 38052, 38053, 38054, 38055, 38056, 38057, 38058, 38059, 38060, 38061, 38062, 38063, 38064, 38065, 38066, ...], ('05', '02201111'): [147298, 147299, 147300, 147301, 147302, 147303, 147304, 147305, 147306, 147307, 147308, 147309, 147310, 147311, 147312, 147313, 147314, 147315, 147316, 147317, 147318, 147319, 147320, 147321, 147322, 147323, 147324, 147325, 147326, 147327, 147328, 147329, 147330, 147331, 147332, 147333, 147334, 147335, 147336, 147337, 147338, 147339, 147340, 147341, 147342, 147343, 147344, 147345, 147346, 147347, 147348, 147349, 147350, 147351, 147352, 147353, 147354, 147355, 147356, 147357, 147358, 147359, 147360, 147361, 147362, 147363, 147364, 147365, 147366, 147367, 147368, 147369, 147370, 147371, 147372, 147373, 147374, 147375, 147376, 147377, 147378, 147379, 147380, 147381, 147382, 147383, 147384, 147385, 147386, 147387, 147388, 147389, 147390, 147391, 147392, 147393, 147394, 147395, 147396, 147397, ...], ('05', '02201512'): [111094, 111095, 111096, 111097, 111098, 111099, 111100, 111101, 111102, 111103, 111104, 111105, 111106, 111107, 111108, 111109, 111110, 111111, 111112, 111113, 111114, 111115, 111116, 111117, 111118, 111119, 111120, 111121, 111122, 111123, 111124, 111125, 111126, 111127, 111128, 111129, 111130, 111131, 111132, 111133, 111134, 111135, 111136, 111137, 111138, 111139, 111140, 111141, 111142, 111143, 111144, 111145, 111146, 111147, 111148, 111149, 111150, 111151, 111152, 111153, 111154, 111155, 111156, 111157, 111158, 111159, 111160, 111161, 111162, 111163, 111164, 111165, 111166, 111167, 111168, 111169, 111170, 111171, 111172, 111173, 111174, 111175, 111176, 111177, 111178, 111179, 111180, 111181, 111182, 111183, 111184, 111185, 111186, 111187, 111188, 111189, 111190, 111191, 111192, 111193, ...], ('05', '02201606'): [74878, 74879, 74880, 74881, 74882, 74883, 74884, 74885, 74886, 74887, 74888, 74889, 74890, 74891, 74892, 74893, 74894, 74895, 74896, 74897, 74898, 74899, 74900, 74901, 74902, 74903, 74904, 74905, 74906, 74907, 74908, 74909, 74910, 74911, 74912, 74913, 74914, 74915, 74916, 74917, 74918, 74919, 74920, 74921, 74922, 74923, 74924, 74925, 74926, 74927, 74928, 74929, 74930, 74931, 74932, 74933, 74934, 74935, 74936, 74937, 74938, 74939, 74940, 74941, 74942, 74943, 74944, 74945, 74946, 74947, 74948, 74949, 74950, 74951, 74952, 74953, 74954, 74955, 74956, 74957, 74958, 74959, 74960, 74961, 74962, 74963, 74964, 74965, 74966, 74967, 74968, 74969, 74970, 74971, 74972, 74973, 74974, 74975, 74976, 74977, ...], ('05', '02201904'): [2033, 2034, 2035, 2040, 2041, 2045, 2046, 2047, 2048, 2049, 2052, 2053, 2054, 2055, 2058, 2059, 2060, 2061, 2062, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, ...], ('05', '02201911'): [38350, 38351, 38352, 38357, 38358, 38362, 38363, 38364, 38365, 38366, 38369, 38370, 38371, 38372, 38375, 38376, 38377, 38378, 38379, 38384, 38385, 38386, 38387, 38388, 38389, 38390, 38391, 38392, 38399, 38400, 38401, 38402, 38403, 38404, 38405, 38406, 38407, 38408, 38409, 38414, 38415, 38416, 38417, 38418, 38419, 38420, 38421, 38422, 38423, 38424, 38425, 38426, 38427, 38428, 38429, 38430, 38431, 38432, 38433, 38434, 38435, 38436, 38437, 38438, 38439, 38440, 38441, 38442, 38443, 38444, 38445, 38446, 38447, 38448, 38449, 38450, 38451, 38452, 38453, 38454, 38455, 38456, 38457, 38458, 38459, 38460, 38461, 38462, 38463, 38464, 38465, 38466, 38467, 38468, 38469, 38470, 38471, 38472, 38473, 38474, ...], ('06', '02201111'): [147610, 147611, 147612, 147613, 147614, 147615, 147616, 147617, 147618, 147619, 147620, 147621, 147622, 147623, 147624, 147625, 147626, 147627, 147628, 147629, 147630, 147631, 147632, 147633, 147634, 147635, 147636, 147637, 147638, 147639, 147640, 147641, 147642, 147643, 147644, 147645, 147646, 147647, 147648, 147649, 147650, 147651, 147652, 147653, 147654, 147655, 147656, 147657, 147658, 147659, 147660, 147661, 147662, 147663, 147664, 147665, 147666, 147667, 147668, 147669, 147670, 147671, 147672, 147673, 147674, 147675, 147676, 147677, 147678, 147679, 147680, 147681, 147682, 147683, 147684, 147685, 147686, 147687, 147688, 147689, 147690, 147691, 147692, 147693, 147694, 147695, 147696, 147697, 147698, 147699, 147700, 147701, 147702, 147703, 147704, 147705, 147706, 147707, 147708, 147709, ...], ('06', '02201512'): [111407, 111408, 111409, 111410, 111411, 111412, 111413, 111414, 111415, 111416, 111417, 111418, 111419, 111420, 111421, 111422, 111423, 111424, 111425, 111426, 111427, 111428, 111429, 111430, 111431, 111432, 111433, 111434, 111435, 111436, 111437, 111438, 111439, 111440, 111441, 111442, 111443, 111444, 111445, 111446, 111447, 111448, 111449, 111450, 111451, 111452, 111453, 111454, 111455, 111456, 111457, 111458, 111459, 111460, 111461, 111462, 111463, 111464, 111465, 111466, 111467, 111468, 111469, 111470, 111471, 111472, 111473, 111474, 111475, 111476, 111477, 111478, 111479, 111480, 111481, 111482, 111483, 111484, 111485, 111486, 111487, 111488, 111489, 111490, 111491, 111492, 111493, 111494, 111495, 111496, 111497, 111498, 111499, 111500, 111501, 111502, 111503, 111504, 111505, 111506, ...], ('06', '02201606'): [75190, 75191, 75192, 75193, 75194, 75195, 75196, 75197, 751

A continuación definimos la función que nos dará las secciones equivalentes para una determinada elección (elect), y nos la asiganará en la columna (col).

Lo que hace es iterar en cada sección de las 180 mil. Primero selecciona un dataset auxiliar con el mismo municipio de la sección en la eleccin elect. En el caso que el municipio sea de los 23 que ha cambiado tomará su provincia entera.

Después calcula la distancia entre centroides, quedándose con la mínima, e identificando la sección correspondiente mediante el índice, y finalmente rellena el código de la sección en la columna col.

Es en definitiva la iteración del proceso que vimos anteriormente.

In [ ]:
def cercanos(elect, col):

  for ind in range(len(df_unif)):
    cent = df_unif['Centroide'][ind]
    mun = df_unif['CUMUN'][ind]
    prov = df_unif['CPRO'][ind]
  
    if mun not in dif:
      df_aux = grouped.get_group((mun, elect))

    else:
      df_aux = grouped_prov.get_group((prov, elect))

    df_aux['dist'] = df_aux['Centroide'].apply(lambda x : x.distance(cent))
    idx = df_aux['dist'].idxmin()
    sec = df_aux['cod_sec'][idx]

    df_unif[col][ind] = sec

    if ind % 2500 == 0:
      print(ind)

Se trata de un proceso lento, que para cada elección tarda unos 50 minutos. La primera vez lo ejecutamos solo para la elección de 2011.

In [ ]:
cercanos(elect = '02201111', col = 'cercana N11')

0
2500
5000
7500
10000
12500
15000
17500
20000
22500
25000
27500
30000
32500
35000
37500
40000
42500
45000
47500
50000
52500
55000
57500
60000
62500
65000
67500
70000
72500
75000
77500
80000
82500
85000
87500
90000
92500
95000
97500
100000
102500
105000
107500
110000
112500
115000
117500
120000
122500
125000
127500
130000
132500
135000
137500
140000
142500
145000
147500
150000
152500
155000
157500
160000
162500
165000
167500
170000
172500
175000
177500
180000

In [ ]:
df_unif.to_csv('similitud_secciones_1.csv', sep = ',', index = False)

En la siguiente sesión la ejecutamos para las otras cuatro elecciones, comenzando con la de 2015...

In [ ]:
cercanos(elect = '02201512', col = 'cercana D15')

0
2500
5000
7500
10000
12500
15000
17500
20000
22500
25000
27500
30000
32500
35000
37500
40000
42500
45000
47500
50000
52500
55000
57500
60000
62500
65000
67500
70000
72500
75000
77500
80000
82500
85000
87500
90000
92500
95000
97500
100000
102500
105000
107500
110000
112500
115000
117500
120000
122500
125000
127500
130000
132500
135000
137500
140000
142500
145000
147500
150000
152500
155000
157500
160000
162500
165000
167500
170000
172500
175000
177500
180000

Después la de 2016...

In [ ]:
cercanos(elect = '02201606', col = 'cercana J16')

0
2500
5000
7500
10000
12500
15000
17500
20000
22500
25000
27500
30000
32500
35000
37500
40000
42500
45000
47500
50000
52500
55000
57500
60000
62500
65000
67500
70000
72500
75000
77500
80000
82500
85000
87500
90000
92500
95000
97500
100000
102500
105000
107500
110000
112500
115000
117500
120000
122500
125000
127500
130000
132500
135000
137500
140000
142500
145000
147500
150000
152500
155000
157500
160000
162500
165000
167500
170000
172500
175000
177500
180000

...abril de 2019...

In [ ]:
cercanos(elect = '02201904', col = 'cercana A19')

0
2500
5000
7500
10000
12500
15000
17500
20000
22500
25000
27500
30000
32500
35000
37500
40000
42500
45000
47500
50000
52500
55000
57500
60000
62500
65000
67500
70000
72500
75000
77500
80000
82500
85000
87500
90000
92500
95000
97500
100000
102500
105000
107500
110000
112500
115000
117500
120000
122500
125000
127500
130000
132500
135000
137500
140000
142500
145000
147500
150000
152500
155000
157500
160000
162500
165000
167500
170000
172500
175000
177500
180000

... y noviembre de 2019.

In [ ]:
cercanos(elect = '02201911', col = 'cercana N19')

0
2500
5000
7500
10000
12500
15000
17500
20000
22500
25000
27500
30000
32500
35000
37500
40000
42500
45000
47500
50000
52500
55000
57500
60000
62500
65000
67500
70000
72500
75000
77500
80000
82500
85000
87500
90000
92500
95000
97500
100000
102500
105000
107500
110000
112500
115000
117500
120000
122500
125000
127500
130000
132500
135000
137500
140000
142500
145000
147500
150000
152500
155000
157500
160000
162500
165000
167500
170000
172500
175000
177500
180000

Este fue el resultado de la segunda sesión, en la que faltan las secciones equivalentes en las elecciones de 2011, que ya habíamos calculado.

In [ ]:
df_unif

                      cod_sec  ...            cercana N19
0       022019041160100901001  ...  022019111160100901001
1       022019041160101001002  ...  022019111160101001002
2       022019041160103101001  ...  022019111160103101001
3       022019041160103301001  ...  022019111160103301001
4       022019041160103701001  ...  022019111160103701001
...                       ...  ...                    ...
181034  022011111195200108010  ...  022019111195200108010
181035  022011111195200108011  ...  022019111195200108011
181036  022011111195200108012  ...  022019111195200108012
181037  022011111195200108013  ...  022019111195200108013
181038  022011111195200108014  ...  022019111195200108014

[181039 rows x 12 columns]

In [ ]:
df_unif['Elección'].unique()

array(['02201904', '02201911', '02201606', '02201512', '02201111'],
      dtype=object)

Realmente, ya no nos interesan las columnas de geometry o centroide, solo las secciones, y con esas columnas nos quedamos.

In [ ]:
df_unit_simp = df_unif[['cod_sec', 'CUSEC', 'CUMUN', 'CPRO', 'Elección', 'cercana N11', 'cercana D15', 'cercana J16', 'cercana A19', 'cercana N19']]

In [ ]:
df_unit_simp

                      cod_sec  ...            cercana N19
0       022019041160100901001  ...  022019111160100901001
1       022019041160101001002  ...  022019111160101001002
2       022019041160103101001  ...  022019111160103101001
3       022019041160103301001  ...  022019111160103301001
4       022019041160103701001  ...  022019111160103701001
...                       ...  ...                    ...
181034  022011111195200108010  ...  022019111195200108010
181035  022011111195200108011  ...  022019111195200108011
181036  022011111195200108012  ...  022019111195200108012
181037  022011111195200108013  ...  022019111195200108013
181038  022011111195200108014  ...  022019111195200108014

[181039 rows x 10 columns]

In [ ]:
df_unit_simp.to_csv('similitud_secciones_1.csv', sep = ',', index = False)

Faltan las seccines de 2011, que cargamos de su fichero.

In [ ]:
cols_str = {'cercana N11' : 'str'}

In [ ]:
unif_prov = pd.read_csv('similitud_secciones.csv', dtype = cols_str)

In [ ]:
unif_prov

                      cod_sec       CUSEC  ...  cercana A19  cercana N19
0       022019041160100901001   100901001  ...          NaN          NaN
1       022019041160101001002   101001002  ...          NaN          NaN
2       022019041160103101001   103101001  ...          NaN          NaN
3       022019041160103301001   103301001  ...          NaN          NaN
4       022019041160103701001   103701001  ...          NaN          NaN
...                       ...         ...  ...          ...          ...
181034  022011111195200108010  5200108010  ...          NaN          NaN
181035  022011111195200108011  5200108011  ...          NaN          NaN
181036  022011111195200108012  5200108012  ...          NaN          NaN
181037  022011111195200108013  5200108013  ...          NaN          NaN
181038  022011111195200108014  5200108014  ...          NaN          NaN

[181039 rows x 12 columns]

In [ ]:
df_unit_simp

                      cod_sec  ...            cercana N19
0       022019041160100901001  ...  022019111160100901001
1       022019041160101001002  ...  022019111160101001002
2       022019041160103101001  ...  022019111160103101001
3       022019041160103301001  ...  022019111160103301001
4       022019041160103701001  ...  022019111160103701001
...                       ...  ...                    ...
181034  022011111195200108010  ...  022019111195200108010
181035  022011111195200108011  ...  022019111195200108011
181036  022011111195200108012  ...  022019111195200108012
181037  022011111195200108013  ...  022019111195200108013
181038  022011111195200108014  ...  022019111195200108014

[181039 rows x 10 columns]

Copiamos la columna de 2011, simplemente.

In [ ]:
df_unit_simp['cercana N11'] = unif_prov['cercana N11']

In [ ]:
df_unit_simp

                      cod_sec  ...            cercana N19
0       022019041160100901001  ...  022019111160100901001
1       022019041160101001002  ...  022019111160101001002
2       022019041160103101001  ...  022019111160103101001
3       022019041160103301001  ...  022019111160103301001
4       022019041160103701001  ...  022019111160103701001
...                       ...  ...                    ...
181034  022011111195200108010  ...  022019111195200108010
181035  022011111195200108011  ...  022019111195200108011
181036  022011111195200108012  ...  022019111195200108012
181037  022011111195200108013  ...  022019111195200108013
181038  022011111195200108014  ...  022019111195200108014

[181039 rows x 10 columns]

Y finalmente guardamos el fichero csv con todas las secciones. Recordamos que hubo que variar algo los códigos de las secciones debido a los distintos códigos de las ccaa entre el INE e Interior, lo cual hicimos en otro cuaderno.

In [ ]:
df_unit_simp.to_csv('similitud_secciones_def.csv', sep = ',', index = False)